<%=render "shared/slide"%>

<main id="tg-main" class="tg-main tg-haslayout">
  <div class="container">
    <div class="row">
      <section class="tg-main-section tg-haslayout">
        <div id="tg-twocolumns" class="tg-twocolumns">
          <div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
            <div id="tg-content" class="tg-content">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <%=render "shared/rising"%>
                  <%=render "shared/trending"%>
                  <div class="clearfix"></div>
                  <div class="tg-addbox">
                    <a href="javascript:void(0);"><img src="images/placeholder/add-01-770x90.jpg" alt="image description"></a>
                  </div>
                  <%=render "shared/popular"%>
                </div>
              </div>
            </div>
          </div>
          <%=render "shared/aside"%>
        </div>
      </section>
    </div>
  </div>
</main>
