<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="tg-homebanner tg-homebannertwo tg-haslayout" style="margin-top: 40px;">
        <ul>
          <%@blogs.each do |blog|%>
          <li>
              <article class="tg-post tg-postcononimg">
              <figure class="tg-postimg">
                <span class="tg-postfeatured">
                  <i class="fa fa-bolt"></i>
                </span>
                <%=link_to blog_path(blog) do%>
                  <%=image_tag blog.image.url(:medium)%>
                <%end%>
                <figcaption>
                  <div class="tg-postcontent">
                    <div class="tg-borderleft">
                      <ul class="tg-posttags">
                        <%blog.tags.limit(1).each do |tag|%>
                          <li>
                            <%=link_to tag.name.capitalize, tag_path(tag)%>
                          </li>
                        <%end%>
                      </ul>
                      <div class="tg-posttitle">
                        <h3>
                          <%=link_to blog_path(blog) do%>
                            <%=blog.title.capitalize%>
                          <%end%>
                        </h3>
                      </div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </article>
          </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
<main id="tg-main" class="tg-main tg-haslayout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tg-heading">
          <h3>Explore Whats Trending</h3>
        </div>
      </div>
      <div class="tg-featuredposts">
        <div id="tg-featuredpostslider" class="tg-featuredpostslider">
          <%@blogs.each do |blog|%>
            <div class="item">
            <article class="tg-post">
              <figure class="tg-postimg">
                <span class="tg-postfeatured">
                  <i class="fa fa-bolt"></i>
                </span>
                <%=link_to blog_path(blog) do%>
                  <%=image_tag blog.image.url(:explore)%>
                <%end%>
                <%=link_to "view post", blog_path(blog),class: "tg-btnview"%>
              </figure>
              <div class="tg-postcontent">
                <div class="tg-borderleft">
                  <ul class="tg-posttags">
                    <%blog.tags.limit(2).each do |tag|%>
                      <li>
                        <%=link_to tag.name.capitalize, tag_path(tag)%>
                      </li>
                    <%end%>
                  </ul>
                  <div class="tg-posttitle">
                    <h3>
                      <%=link_to blog_path(blog) do%>
                        <%=blog.title.capitalize%>
                      <%end%>
                    </h3>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <%end%>
        </div>
        <div class="tg-slidecount">
          <span class="tg-currentItem">
            <span class="tg-result"></span></span>
          <span>/</span>
          <span class="tg-owlItems">
            <span class="tg-result"></span></span>
        </div>
      </div>
      <section class="tg-main-section tg-haslayout">
        <div id="tg-twocolumns" class="tg-twocolumns">
          <div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
            <div id="tg-content" class="tg-content">
              <div class="tg-addbox tg-margintopzero">
                <a href="javascript:void(0);"><img src="images/placeholder/add-01-770x90.jpg" alt="image description"></a>
              </div>
              <div class="clearfix"></div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="tg-borderheading">
                    <h3>What’s Popular</h3>
                  </div>
                  <div class="tg-postmargin">
                    <%@populars.each do |blog|%>
                      <article class="tg-post tg-postleftimg">
                      <figure class="tg-postimg">
                        <span class="tg-postfeatured">
                          <i class="fa fa-bolt"></i>
                        </span>
                        <%=link_to blog_path(blog) do%>
                          <%=image_tag blog.image.url(:trending)%>
                        <%end%>
                        <%=link_to "view post", blog_path(blog),class: "tg-btnview"%>
                      </figure>
                      <div class="tg-postcontent">
                        <div class="tg-borderleft">
                          <ul class="tg-posttags">
                            <%blog.tags.limit(2).each do |tag|%>
                              <li>
                                <%=link_to tag.name.capitalize, tag_path(tag)%>
                              </li>
                            <%end%>
                          </ul>
                          <div class="tg-posttitle tg-posttitlelarge">
                            <h3>
                              <%=link_to blog_path(blog) do%>
                                <%=blog.title.capitalize%>
                              <%end%>
                            </h3>
                          </div>
                        </div>
                        <div class="tg-description">
                          <p>
                            <%=truncate(blog.description, length: 500, separator: ' ')%>
                          </p>
                        </div>
                        <ul class="tg-postmatadata">
                          <li>
                            <a href="javascript:void(0);">
                              <span class="lnr lnr-eye"></span>
                              <span>2.4K</span>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">
                              <span class="lnr lnr-bubble"></span>
                              <span>17.9K</span>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">
                              <span class="lnr lnr-calendar-full"></span>
                              <span><%=blog.post_date%></span>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">
                              <span class="lnr lnr-user"></span>
                              <span>By: Josefine Shockley</span>
                            </a>
                          </li>
                        </ul>
                        <div class="tg-postbtnbox">
                          <%=link_to "view post", blog_path(blog), class: "tg-btn"%>
                        </div>
                      </div>
                    </article>
                    <%end%>
                    <div class="clearfix"></div>
                    <div class="tg-addbox">
                      <a href="javascript:void(0);"><img src="images/placeholder/add-01-770x90.jpg" alt="image description"></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%=render "shared/aside"%>
        </div>
      </section>

      <%= paginate @populars, window: 4 %>

    </div>
  </div>
</main>
