<%title"#{@blog.title} | loyosja.com"%>
<%meta_description  strip_tags(@blog.description)%>
<main id="tg-main" class="tg-main tg-haslayout">
  <div class="container">
    <div class="row">
      <section class="tg-main-section tg-haslayout">
        <div id="tg-twocolumns" class="tg-twocolumns">
          <div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
            <div id="tg-content" class="tg-content">
              <div class="tg-post tg-postdetailpage">
                <ul class="tg-posttags">
                  <%@blog.tags.limit(2).each do |tag|%>
                    <li>
                      <%=link_to tag_path(tag) do%>
                        <%=tag.name.capitalize%>
                      <%end%>
                    </li>
                  <%end%>
                </ul>
                <div class="tg-posttitle">
                  <h1><%=@blog.title.capitalize%></h1>
                </div>
                <ul class="tg-postmatadata">
                  <li>
                    <a href="javascript:void(0);">
                      <span class="lnr lnr-eye"></span>
                      <span id="view-post">2.4K</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <span class="lnr lnr-bubble"></span>
                      <span id="comment-post">17.9K</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <span class="lnr lnr-calendar-full"></span>
                      <span><%=@blog.post_date%></span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <span class="lnr lnr-user"></span>
                      <span>By: Josefine Shockley</span>
                    </a>
                  </li>
                </ul>
                <ul class="tg-socialblackwhite tg-socialicons">
                  <li class="tg-facebook">
                    <%= social_share_button_tag(
                      @blog.title,
                      :url => "http://134.209.111.121/#{blog_path(@blog)}",
                      :allow_sites => %w(facebook), desc: @blog.title)
                    %>
                  </li>
                </ul>
                <figure class="tg-postimg">
                  <span class="tg-postfeatured">
                    <i class="fa fa-bolt"></i>
                  </span>
                  <img src="<%=@blog.image%>" alt="image description">
                </figure>
                <div class="tg-description">
                  <%=@blog.description%>
                </div>
                <div class="tg-tagspostshare" style="margin-top: 20px;">
                  <div class="tg-tags">
                    <span>Tags:</span>
                    <div class="tg-tagholder">
                      <%@blog.tags.select(:slug, :name).distinct.each do |tag|%>
                        <%=link_to tag_path(tag), class: "tg-tag" do%>
                          <%=tag.name.capitalize%>
                        <%end%>
                      <%end%>
                    </div>
                  </div>
                  <div class="tg-socialshare">
                    <span>Share:</span>
                    <ul class="tg-socialblackwhite tg-socialicons">
                      <li class="tg-facebook">
                        <%= social_share_button_tag(
                          @blog.title,
                          :url => "http://134.209.111.121/#{blog_path(@blog)}",
                          :allow_sites => %w(facebook), desc: @blog.title)
                        %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Aside -->
        </div>
      </section>
    </div>
  </div>
</main>
