<%= form_for(resource, as: resource_name, url: registration_path(resource_name),:class=>"login-form cf-style-1") do |f| %>
<%= devise_error_messages! %>

<%= f.text_field :country_code, autofocus: true,:class=>"form-control", :placeholder=>"Phone", id: "authy-countries"%>

<%= f.text_field :phone_number, autofocus: true,:class=>"form-control", :placeholder=>"Example: 095477325"%>

<%= f.password_field :password, autocomplete: "off",:class=>"form-control", :placeholder=>"Password"%>

<%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control", :placeholder=>"Confirmation Password"%>

<% if devise_mapping.rememberable? -%>

	<%= f.check_box :remember_me, id: "i" %>
	<%= f.label :remember_me,for: "i" %>
<% end %>
</div>

<button type="submit" class="btn btn-primary btn-block">sign up</button>
<%=link_to "Home", root_path, class: "btn btn-default btn-block"%>
</div>
<%end%>
