<div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">
  <aside id="tg-sidebar" class="tg-sidebar">
    <div class="tg-widget">
      <div class="tg-addbox">
        <a href="javascript:void(0);"><img src="images/placeholder/add-02-300x250.jpg" alt="image description"></a>
        <span>- Advertisement -</span>
      </div>
    </div>
    <div class="tg-widget tg-widgetcategories">
      <div class="tg-widgettitle">
        <h3>Popular Categories</h3>
      </div>
      <div class="tg-widgetcontent">
        <ul>
          <%@categories.each do |category|%>
          <li>
            <%=link_to blog_path(category) do%>
              <span><%=category.category_name.capitalize%></span><%=category.blogs.count%>
            <%end%>
          </li>
          <%end%>
        </ul>
      </div>
    </div>
    <div class="tg-widget tg-widgetfacebook">
      <div class="tg-widgetcontent">
        <img src="images/placeholder/placeholder-01.jpg" alt="image description">
      </div>
    </div>
    <div class="tg-widget tg-widgetstayconnected">
      <div class="tg-widgettitle">
        <h3>Stay Connected</h3>
      </div>
      <div class="tg-widgetcontent">
        <ul>
          <li class="tg-facebook">
            <a href="javascript:void(0);">
              <i class="fa fa-facebook"></i>
              <span>15.4K Fans</span>
              <em>LIKE</em>
            </a>
          </li>
          <li class="tg-twitter">
            <a href="javascript:void(0);">
              <i class="fa fa-twitter"></i>
              <span>11.2K Followers</span>
              <em>Follow</em>
            </a>
          </li>
          <li class="tg-youtubeplay">
            <a href="javascript:void(0);">
              <i class="fa fa-youtube-play"></i>
              <span>29.8K Subscribers</span>
              <em>Subcribe</em>
            </a>
          </li>
          <li class="tg-linkedin">
            <a href="javascript:void(0);">
              <i class="fa fa-linkedin"></i>
              <span>22.4K Subscribers</span>
              <em>Subcribe</em>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tg-widget tg-widgetnewsletter">
      <div class="tg-widgettitle">
        <h3>Subscribe Newsletter</h3>
      </div>
      <div class="tg-widgetcontent">
        <div class="tg-description">
          <p>Consectetur adipisicing elit sed eiusmod tempor incididunt labore.</p>
        </div>
        <form class="tg-formtheme ">
          <fieldset>
            <div class="form-group">
              <input type="text" name="yourname" class="form-control" placeholder="Your Name">
            </div>
            <div class="form-group">
              <input type="email" name="youremail" class="form-control" placeholder="Your Email">
            </div>
            <button class="tg-btn" type="submit">send</button>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="tg-widget tg-widgettrendingposts">
      <div class="tg-widgettitle">
        <h3>Trending Posts</h3>
      </div>
      <div class="tg-widgetcontent">
        <ul>
          <%@other_risings.each do |post|%>
            <li>
              <figure>
                <%=link_to blog_path(post) do%>
                  <%= image_tag post.image.url(:thumb)%>
                <%end%>
                <a class="tg-btnview" href="#"></a>
              </figure>
              <div class="tg-trendingpostcontent">
                <h4>
                  <%=link_to blog_path(post) do%>
                    <%= post.title.capitalize%>
                  <%end%>
                </h4>
                <time datetime="2016-02-02"><%=post.post_date%></time>
                <span class="tg-postviews">2.4K Views</span>
              </div>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
    </div>
  </aside>
</div>
