<footer id="tg-footer" class="tg-footer tg-haslayout">
  <div class="tg-newsletter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
          <div class="tg-borderleft">
            <span>Singup for Free!</span>
            <h3>Get Amazing &amp; New Information.</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
          <form class="tg-formtheme tg-formnewsletter">
            <fieldset>
              <div class="form-group">
                <input type="text" class="form-control" name="yourname" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="yourname" placeholder="Your Name">
              </div>
              <button type="submit" class="tg-btn">Signup Now</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="tg-threecolumns">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="tg-column">
            <div class="tg-widget tg-widgetaboutus">
              <figure><img src="images/img-01.jpg" alt="image description"></figure>
              <h3>The Article</h3>
              <div class="tg-description">
                <p>Consectetur adipisicing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris.</p>
              </div>
              <ul class="tg-socialicons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
              <div class="tg-btnbox">
                <a class="tg-btn" href="javascript:void(0);">Contact Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="tg-column">
            <div class="tg-widget tg-widgetcategories">
              <div class="tg-widgettitle">
                <h3>Popular Categories</h3>
              </div>
              <div class="tg-widgetcontent">
                <ul>
                  <%@categories.each do |category|%>
                  <li>
                    <%=link_to category_path(category) do%>
                      <span><%=category.category_name.capitalize%></span><%=category.blogs.count%>
                    <%end%>
                  </li>
                  <%end%>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="tg-column">
            <div class="tg-widget tg-widgettrendingposts">
              <div class="tg-widgettitle">
                <h3>Editor Picks</h3>
              </div>
              <div class="tg-widgetcontent">
                <ul>
                  <%@editor_picks.each do |post|%>
                    <li>
                      <figure>
                        <%=link_to blog_path(post) do%>
                          <%= image_tag post.image.url(:thumb)%>
                        <%end%>
                        <a class="tg-btnview" href="#"></a>
                      </figure>
                      <div class="tg-trendingpostcontent">
                        <h4>
                          <%=link_to blog_path(post) do%>
                            <%= post.title.capitalize%>
                          <%end%>
                        </h4>
                        <time datetime="2016-02-02">April 27, 2017</time>
                        <span class="tg-postviews">2.4K Views</span>
                      </div>
                    </li>
                  <%end%>
                  <li>
                    <%=link_to "View All", blogs_path%>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tg-footerbar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <strong class="tg-logo"><a href="javascript:void(0);"><img src="images/logo2.png" alt="image description"></a></strong>
          <div class="tg-copyrightbox">
            <span>&copy; 2019 - The Article. All Rights Reserved</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
