<header id="tg-header" class="tg-header tg-haslayout">
  <div class="tg-topbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="tg-rightbox">
            <ul class="tg-socialicons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <ul>
              <li class="dropdown tg-themedropdown">
                <button class="tg-btndropdown" id="tg-logindropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">login</button>
                <div class="tg-dropdownbox" aria-labelledby="tg-logindropdown">
                  <form class="tg-formtheme tg-formlogin">
                    <fieldset>
                      <h2>Welcome, Login to Your Account</h2>
                      <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Enter your Email" />
                      </div>
                      <div class="form-group">
                        <div class="tg-inputicon">
                          <input type="password" name="password" class="form-control tg-password" placeholder="Your Password" />
                          <i class="tg-btnshowpassword"></i>
                        </div>
                      </div>
                      <div class="form-group">
                        <span class="tg-checkbox">
                          <input type="checkbox" value="yes" id="tg-remember" />
                          <label htmlFor="tg-remember">Remember Me</label>
                        </span>
                        <a class="tg-btnforgot" href="javascript:void(0);">Forgot Password?</a>
                      </div>
                      <div class="form-group">
                        <button class="tg-btn" type="submit">Login</button>
                      </div>
                      <div class="tg-notebox">
                        <p>Don’t Have Account? <a href="javascript:void(0);">Create New Account</a></p>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </li>
              <li class="dropdown tg-themedropdown">
                <button class="tg-btndropdown" id="tg-registerdropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">register</button>
                <div class="tg-dropdownbox" aria-labelledby="tg-registerdropdown">
                  <form class="tg-formtheme tg-formlogin">
                    <fieldset>
                      <h2>Create New Account</h2>
                      <div class="form-group">
                        <input type="text" name="fullname" class="form-control" placeholder="Full Name" />
                      </div>
                      <div class="form-group">
                        <input type="text" name="phone" class="form-control" placeholder="Phone" />
                      </div>
                      <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email* (Your email address will not be published.)" />
                      </div>
                      <div class="form-group">
                        <div class="tg-inputicon">
                          <input type="password" name="password" class="form-control tg-password" placeholder="Your Password" />
                          <i class="tg-btnshowpassword"></i>
                        </div>
                      </div>
                      <div class="form-group">
                        <button class="tg-btn" type="submit">Register Now</button>
                      </div>
                      <div class="tg-notebox">
                        <p>Already Have Account? <a href="javascript:void(0);">Login Now</a></p>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="tg-logoarea">
          <strong class="tg-logo"><a href="#"><img src="logo.png" /></a></strong>
          <div class="tg-addbox">
            <a href="/"><img src="images/placeholder/add-01-770x90.jpg" alt="" /></a>
          </div>
        </div>
        <div class="tg-navigationarea tg-navigationareamiddle">
          <nav id="tg-nav" class="tg-nav">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
              <ul>
                <li class="current-menu-item">
                  <a href="/">Home</a>
                </li>
                <li class="current-menu-item">
                  <%=link_to "News", blogs_path%>
                </li>
                <li class="menu-item-has-children megadropdown">
											<a style="color: black;" href="#">Post Types</a>
											<div class="sub-menu tg-tabsdropdown">
												<div class="tg-themetabstyle">
													<ul class="tg-tabnav" role="tablist">
                            <%@categories.limit(1).each do |category|%>
														  <li role="presentation" class="active">
                                <a href="#<%=category.category_name.downcase%>" aria-controls="<%=category.category_name.downcase%>" role="tab" data-toggle="tab">
                                  <%=category.category_name.capitalize%>
                                </a>
                              </li>
                            <%end%>
                            <%@categories.where.not(id: 1).each do |category|%>
														  <li role="presentation">
                                <a href="#<%=category.category_name.downcase%>" aria-controls="<%=category.category_name.downcase%>" role="tab" data-toggle="tab">
                                  <%=category.category_name.capitalize%>
                                </a>
                              </li>
                            <%end%>
                        	</ul>
													<div class="tab-content tg-tabcontent">
                            <%@categories.limit(1).each do |category|%>
														  <div role="tabpanel" class="tab-pane active" id="<%=category.category_name.downcase%>">
															  <h2><%=category.category_name.upcase%></h2>
  															<div class="tg-posts">
  																<div class="tg-tabsslider tg-megamenuslider">
                                    <%category.blogs.each do |blog|%>
  																	  <div class="item">
  																		  <article class="tg-post">
  																			<figure class="tg-postimg">
  																				<span class="tg-postfeatured"><i class="fa fa-bolt"></i></span>
  																				<%=link_to blog_path(blog) do%>
                                            <%=image_tag blog.image.url(:category)%>
                                          <%end%>
  																			</figure>
  																			<div class="tg-postcontent">
  																				<div class="tg-borderleft">
  																					<ul class="tg-posttags">
                                              <%blog.tags.limit(2).each do |tag|%>
                                                <li>
                                                  <%=link_to tag.name.capitalize, tag_path(tag)%>
                                                </li>
                                              <%end%>
  																					</ul>
  																					<div class="tg-posttitle">
  																						<h3>
                                                <%=link_to blog_path(blog) do%>
                                                  <%=blog.title.capitalize%>
                                                <%end%>
                                              </h3>
  																					</div>
  																				</div>
  																			</div>
  																		</article>
  																	  </div>
                                    <%end%>
  																</div>
  															</div>
														  </div>
                            <%end%>
                            <%@categories.where.not(id: 1).each do |category|%>
														  <div role="tabpanel" class="tab-pane" id="<%=category.category_name.downcase%>">
															  <h2><%=category.category_name.upcase%></h2>
  															<div class="tg-posts">
  																<div class="tg-tabsslider tg-megamenuslider">
                                    <%category.blogs.each do |blog|%>
  																	  <div class="item">
    																		<article class="tg-post">
    																			<figure class="tg-postimg">
    																				<span class="tg-postfeatured"><i class="fa fa-bolt"></i></span>
                                            <%=link_to blog_path(blog) do%>
                                              <%=image_tag blog.image.url(:category)%>
                                            <%end%>
                                          </figure>
    																			<div class="tg-postcontent">
    																				<div class="tg-borderleft">
    																					<ul class="tg-posttags">
                                                <%blog.tags.limit(2).each do |tag|%>
                                                  <li>
                                                    <%=link_to tag.name.capitalize, tag_path(tag)%>
                                                  </li>
                                                <%end%>
    																					</ul>
    																					<div class="tg-posttitle">
    																						<h3>
                                                  <%=link_to blog_path(blog) do%>
                                                    <%=blog.title.capitalize%>
                                                  <%end%>
                                                </h3>
    																					</div>
    																				</div>
    																			</div>
    																		</article>
  																	  </div>
                                    <%end%>
  																</div>
  															</div>
														  </div>
                            <%end%>
													</div>
												</div>
											</div>
										</li>
                <%@categories.each do |category|%>
                  <li class="current-menu-item">
                    <%=link_to category.category_name, category_path(category)%>
                  </li>
                <%end%>
              </ul>
            </div>
          </nav>
          <a id="tg-btnsearchtoggle" class="tg-btnsearchtoggle" href="#tg-search"><i class="lnr lnr-magnifier"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>
