<div class="clearfix"></div>
<div class="tg-borderheading">
  <h3>What’s Popular</h3>
</div>
<div class="tg-postmargin tg-overflowvisible">
  <div class="row">
    <%@populars.each do |post|%>
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <article class="tg-post">
        <figure class="tg-postimg">
          <span class="tg-postfeatured">
            <i class="fa fa-bolt"></i>
          </span>
          <%=link_to blog_path(post) do%>
            <%=image_tag post.image.url(:popular)%>
          <%end%>
          <a class="tg-btnview" href="#">view post</a>
          <ul class="tg-postmatadata">
            <li>
              <a href="javascript:void(0);">
                <span class="lnr lnr-eye"></span>
                <span>2.4K</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <span class="lnr lnr-bubble"></span>
                <span>17.9K</span>
              </a>
            </li>
          </ul>
        </figure>
        <div class="tg-postcontent">
          <div class="tg-borderleft">
            <ul class="tg-posttags">
              <%post.tags.each do |tag|%>
                <li>
                  <%=link_to tag.name.capitalize, tag_path(tag)%>
                </li>
              <%end%>
            </ul>
            <div class="tg-posttitle">
              <h3>
                <%=link_to blog_path(post) do%>
                  <%=post.title.capitalize%>
                <%end%>
              </h3>
            </div>
          </div>
        </div>
      </article>
    </div>
    <%end%>
  </div>
</div>
