<div class="tg-borderheading">
  <h3>What’s Rising</h3>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
    <%@big_risings.each do |post|%>
      <article class="tg-post">
      <figure class="tg-postimg">
        <span class="tg-postfeatured">
          <i class="fa fa-bolt"></i>
        </span>
        <%= image_tag post.image.url(:medium)%>
      </figure>
      <div class="tg-postcontent">
        <div class="tg-borderleft">
          <ul class="tg-posttags">
            <%post.tags.each do |tag|%>
              <li>
                <%=link_to tag.name.capitalize, tag_path(tag)%>
              </li>
            <%end%>
          </ul>
          <div class="tg-posttitle tg-posttitlelarge">
            <h3>
              <%=link_to blog_path(post) do%>
                <%=post.title.capitalize%>
              <%end%>
            </h3>
          </div>
        </div>
        <div class="tg-description">
          <p><%=truncate(post.description, length: 500, separator: ' ')%></p>
        </div>
        <ul class="tg-postmatadata">
          <li>
            <a href="javascript:void(0);">
              <span class="lnr lnr-eye"></span>
              <span>2.4K</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="lnr lnr-bubble"></span>
              <span>17.9K</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="lnr lnr-calendar-full"></span>
              <span><%=post.post_date%></span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="lnr lnr-user"></span>
              <span>By: Josefine Shockley</span>
            </a>
          </li>
        </ul>
        <div class="tg-postbtnbox">
          <%=link_to "view post", blog_path(post), class: "tg-btn"%>
        </div>
      </div>
    </article>
    <%end%>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <div class="tg-widget tg-widgettrendingposts">
      <div class="tg-widgetcontent">
        <ul>
          <%@other_risings.each do |post|%>
            <li>
              <figure>
                <%=link_to blogs_path(post) do%>
                  <%= image_tag post.image.url(:thumb)%>
                <%end%>
                <a class="tg-btnview" href="#"></a>
              </figure>
              <div class="tg-trendingpostcontent">
                <h4>
                  <%=link_to blogs_path(post) do%>
                    <%=post.title.capitalize%>
                  <%end%>
                </h4>
                <time datetime="2016-02-02"><%=post.post_date%></time>
                <span class="tg-postviews">2.4K Views</span>
              </div>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="tg-addbox">
  <a href="javascript:void(0);"><img src="images/placeholder/add-01-770x90.jpg" alt="image description"></a>
</div>
<div class="clearfix"></div>
