<div id="tg-search" class="tg-search">
  <button type="button" class="close"><i class="lnr lnr-cross"></i></button>
  <form>
    <fieldset>
      <div class="form-group">
        <input type="search" name="search" class="form-control" value="" placeholder="Enter Keyword">
        <button type="submit" class="tg-btn"><span class="lnr lnr-magnifier"></span></button>
      </div>
      <div class="tg-description"><p>Search What You’re Looking For!</p></div>
    </fieldset>
  </form>
</div>
