<div class="tg-homebanner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div id="tg-bannerfullwidthslider" class="tg-bannerfullwidthslider">
            <%@slide_shows.each do |slide|%>
              <article class="tg-post tg-postcononimg">
              <figure class="tg-postimg">
                <span class="tg-postfeatured"><i class="fa fa-bolt"></i></span>
                <%= image_tag slide.image%>
                <figcaption>
                  <div class="tg-postcontent">
                    <ul class="tg-posttags">
                      <li>
                        <%=link_to category_path(slide.category) do%>
                          <%=slide.category.category_name.upcase%>
                        <%end%>
                      </li>
                    </ul>
                    <div class="tg-posttitle tg-posttitlelarge">
                      <h3>
                        <%=link_to blog_path(slide) do%>
                          <%=slide.title.capitalize%>
                        <%end%>
                      </h3>
                    </div>
                  </div>
                  <div class="tg-postbtnbox">
                    <%=link_to "View All Post", blogs_path, class: "tg-btn"%>
                  </div>
                </figcaption>
              </figure>
            </article>
            <%end%>
          </div>
          <div class="tg-slicknavigation">
            <span class="tg-btnslicksquareprev"><i class="lnr lnr-arrow-left"></i></span>
            <span class="tg-btnslicksquarenext"><i class="lnr lnr-arrow-right"></i></span>
          </div>
          <div class="tg-bannerfullwidthslidecount"></div>
        </div>
      </div>
    </div>
  </div>
</div>
