<div class="tg-borderheading">
  <h3>What’s Trending</h3>
</div>
<div class="tg-postmargin">
  <%@trendings.each do |post|%>
    <article class="tg-post tg-postleftimg">
    <figure class="tg-postimg">
      <span class="tg-postfeatured">
        <i class="fa fa-bolt"></i>
      </span>
      <%=link_to blog_path(post) do%>
        <%=image_tag post.image.url(:popular)%>
      <%end%>
      <a class="tg-btnview" href="#">view post</a>
    </figure>
    <div class="tg-postcontent">
      <div class="tg-borderleft">
        <ul class="tg-posttags">
          <%post.tags.select(:slug, :name).distinct.each do |tag|%>
            <li>
              <%=link_to tag.name.capitalize, tag_path(tag)%>
            </li>
          <%end%>
        </ul>
        <div class="tg-posttitle tg-posttitlelarge">
          <h3>
            <%=link_to blog_path(post) do%>
              <%=post.title.capitalize%>
            <%end%>
          </h3>
        </div>
      </div>
      <div class="tg-description">
        <p>
          <%= post.description%>
        </p>
      </div>
      <ul class="tg-postmatadata">
        <li>
          <a href="javascript:void(0);">
            <span class="lnr lnr-eye"></span>
            <span>2.4K</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <span class="lnr lnr-bubble"></span>
            <span>17.9K</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <span class="lnr lnr-calendar-full"></span>
            <span><%=post.post_date%></span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <span class="lnr lnr-user"></span>
            <span>By: Josefine Shockley</span>
          </a>
        </li>
      </ul>
      <div class="tg-postbtnbox">
        <%=link_to "View Post", blog_path(post), class: "tg-btn"%>
      </div>
    </div>
  </article>
  <%end%>
</div>
<div class="clearfix"></div>
