<%=simple_form_for([:admin, @admin]) do |f|%>
<%=f.error_messages%>

<%=f.select :role,(Admin.roles.keys.map{ |role| [role.titleize, role]}), {}, {:class=>"form-control"}%>

<%=f.text_field :first_name, class: "form-control"%>

<%=f.text_field :last_name, class: "form-control"%>

<%=f.text_field :username, class: "form-control"%>

<%=f.text_field :email, class: "form-control"%>

<%=f.password_field :password, class: "form-control", placeholder: "Password"%>

<%=f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation"%>

<%=f.file_field :photo%>

<%=link_to "Cancle", admin_admin_path, class: "btn btn-default"%>
<%=f.submit class: "btn btn-success"%>

<%end%>
