<%=render "admin/shared/aside"%>
<main class="admin-main">
  <!--site header begins-->
  <%=render "admin/shared/header"%>
  <!--site header ends -->
  <section class="admin-content">
    <div class="container">
      <div class="row m-t-30">
        <div class="col-md-auto col">
          <div class="kanban-item" style="margin-bottom: 0px;">
            <a class="kanban-item-title btn btn-primary" style="color: #fff;">
              <i class="mdi mdi-plus-circle-outline"></i>
              Add User
            </a>
          </div>
        </div>
      </div>
      <!-- Content -->
      <div class="row">
        <div class="col-md-12">
          <div class="card m-b-30 m-t-30">
            <div class="card-header">
              <h5 class="m-b-0">
                <i class="mdi mdi-checkbox-intermediate"></i> Users
              </h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">

                <table class="table table-hover align-td-middle">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Created_At</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody id="admin-index">
                    <%if @admins.any?%>
                      <%= render @admins%>
                    <%end%>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
  </section>
</main>

<div class="modal fade modal-slide-right" id="kanbanItemModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-md-12">
              <h5 class="m-b-0 js-modal-title">APP</h5>
            </div>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body overflow-auto">
          <div id="admins">
            <div id="admin-errors"></div>
            <div id="admin-success"></div>
            <%=render partial: "admin_form", locals: {admin: @admin}%>
          </div>
        </div>
      </div>
    </div>
  </div>
