<div class="container">
  <%= simple_form_for ([:admin, @setting]) do |f|%>
    <div class="form-setting"  style="padding-top: 100px;">
      <div class="row">

          <div style="padding-top: 30px;">
            <%= f.fields_for :maintains do |maintain| %>

              <div class="form-group col-md-6">
                <%= maintain.select :option, Maintain::SELECT_PAGE, {prompt: "None"}, {:class=>"form-control"} %>
              </div>

              <div class="form-group col-md-6">
                <%= maintain.check_box :under_maintain%><br>
                <%= maintain.label :under_maintain%>
              </div>

            <%end%>
            <div class="form-group col-md-12 mt-10" style="margin-bottom: 284px;">
              <%=f.submit "Save", class: "btn btn-success"%>
              <%=link_to "Back",admin_dashboard_path, class: "btn btn-default"%>
            </div>
          </div>
      </div>
    </div>
  <%end%>
</div>
