/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./front-end/css
 *= require font-awesome
 *= require_self
 *= require social-share-button
 */
 .tg-widgetcontent ul li a.tg-img-link:hover {
   color: #fff !important;
   font-size: 16px;
 }

 .tg-description > p, .tg-description{
   color: #636e72;
   line-height: 30px;
   font-size: 16px;
 }
