/*=============================================
			Theme Color
=============================================*/
a,
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.tg-navigation ul li a:hover,
.tg-navigation ul li.current-menu-item > a,
.tg-socialblackwhite li a:hover i,
.tg-socialblackwhite .tg-roundicontext span,
.tg-postdetailpage .tg-blockquotestyleone,
.tg-tagspostshare span,
.tg-socialiconsround li a:hover i,
.tg-btnreply:hover i,
.tg-breadcrumb li a,
.tg-reviewhead span,
.tg-btngohome,
.tg-sortitems .form-group .tg-select,
.tg-sortitems .form-group .tg-select select,
.tg-sortitems .form-group .tg-select option,
.tg-salestag,
.tg-widgetcontent .tg-salestag,
.tg-priceavailability .tg-price span,
.tg-priceavailability em,
.tg-widgetaboutus .tg-socialicons li a:hover i,
.flip-clock-wrapper ul li a div div.inn,
.tg-skillname,
.tg-skillbar span,
body.tg-hometwo .tg-header .tg-topbar .tg-rtltextbox a,
body.tg-homethree .tg-header .tg-topbar .tg-rtltextbox a{color: #333;}
/*=============================================
			Theme Background Color
=============================================*/
.tg-btn,
.tg-btn:after,
.tg-theme-tag,
.tg-topbar,
.tg-blockquotestyleone:after,
.tg-liststyle li:before,
.tg-overallrating,
.tg-404text:before,
.tg-productquentity .minus:hover,
.tg-productquentity .plus:hover,
.tg-navtabs li.active a,
.tg-navtabs li:hover a,
.tg-information li:after,
.tg-copyrightssingup .tg-copyrightbox,
.tg-post .tg-postimg .tg-postmatadata,
body.tg-hometwo .tg-header .tg-topbar .tg-rtltextbox a:before,
body.tg-hometwo .tg-header .tg-topbar .tg-rtltextbox a:after,
body.tg-homethree .tg-header .tg-topbar .tg-rtltextbox a:before,
body.tg-homethree .tg-header .tg-topbar .tg-rtltextbox a:after,
.navbar-toggle{background:#333;}
/*=============================================
			Theme Border Color
=============================================*/
.tg-theme-tag:after,
.tg-theme-tag:before,
input:focus,
.select select:focus,
.form-control:focus,
.tg-btnreply:hover,
.tg-postdetailpage .tg-socialicons li a:hover,
.tg-socialiconsround li a:hover,
.tg-navtabs,
.tg-navtabs li.active a,
.tg-navtabs li:hover a{border-color: #333;}
