/*
 @Author: Company Name
 @URL: http://companyname.com
 This file contains the styling for the actual theme, this
 is the file you need to edit to change the look of the
 theme.
 However we used Less script to make things easy to maintain, this is the compressed ourput, we recommend to edit the less files and then recombile the files and add the result here, if you don't like to use less you can edit this file here.

 This files contents are outlined below.
 01.	Theme Reset Style
 02.	Global Elements
 03.	Menu
 04.	Social
 05.	Article
 06.	Posts
 07.	Responsive
 08.	Widgets
 09.	Flexslider
 10.	Grid
*/

/* =============================================
			Theme Reset Style
============================================= */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Hind:300,400,500,600,700);
* {
	margin: 0px;
	padding: 0px;
}
html,
body {
	position: relative;
	height: 100%;
}
body {
	color: #636e72 !important;
	background: #fff;
	font:400 14px/20px 'Lato', Arial, Helvetica, sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
	color: #333;
	margin: 0 0 8px;
	font-weight: 400;
	line-height: 1.5;
	font-style: normal;
	text-transform:capitalize;
	font-family: 'Hind', Arial, Helvetica, sans-serif;
}
h1 { font-size: 48px;}
h2 { font-size: 36px;}
h3 { font-size: 24px;}
h4 { font-size: 18px;}
h5 { font-size: 16px;}
h6 { font-size: 14px;}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { color: #636e72;}
p a {}
p a:hover {text-decoration:underline;}
p {
	letter-spacing: normal;
	line-height: 20px;
	margin: 0 0 20px;
}
a {text-decoration: none;}
a:hover,
a:focus,
a:active {
	outline: none;
	text-decoration: none;
}
ul {margin: 0;}
figure {
	margin-bottom: 6px;
	position: relative;
}
img {
	height: auto;
	max-width: 100%;
}
strong { color: #333; }
iframe {
	border: none;
	float: left;
	width: 100%;
}
.wp-caption,
.wp-caption-text,
.gallery-caption,
.bypostauthor {}
.wp-caption.alignleft,
.wp-caption.alignnone {width: 100%;}
button {border: none;}
textarea,
select,
.tg-select select,
.form-control,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	color: #333;
	outline: none;
	height: 40px;
	background:#fff;
	font-size: 14px;
	border-radius: 0;
	box-shadow: none;
	line-height: 20px;
	padding: 10px 20px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #ddd;
	text-transform: capitalize;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-group{
	width: 100%;
	float: left;
	margin:0 0 20px;
}
.form-control::-moz-placeholder{
	text-transform: capitalize;
	color: #999;
}
.form-control:focus::-moz-placeholder,
input:focus,
.form-control:focus,
.select select:focus{
	color: #333;
	border: 1px solid #333;
	box-shadow:none !important;
}
/*======================
		 Select
======================*/
.tg-select{
	width: 100%;
	float:left;
	color:#ddd;
	position: relative;
	text-transform:uppercase;
}
.tg-select:after{
	content: '\f107';
	top: 50%;
	right: 23px;
	z-index: 2;
	width: 13px;
	color: #ddd;
	display: block;
	font-size: 22px;
	margin-top: -5px;
	line-height: 10px;
	position: absolute;
	text-align: center;
	font-family: 'FontAwesome';
}
.tg-select select {
	width: 100%;
	z-index: 1;
	color:#ddd;
	height:50px;
	padding:15px;
	line-height:20px;
	position: relative;
	text-transform:uppercase;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.tg-select select option{color:#ddd;}
/*======================
		CheckBox
======================*/
.tg-radio,
.tg-radio label,
.tg-checkbox,
.tg-checkbox label{
	margin:0;
	width: 100%;
	float: left;
	color: #a0a0a0;
	position: relative;
}
.tg-radio label,
.tg-checkbox label{
	cursor:pointer;
	display:block;
	padding:0 0 0 20px;
}
.tg-radio input[type=radio],
.tg-checkbox input[type=checkbox] { display:none; }
.tg-radio input[type=radio] + label:before,
.tg-checkbox input[type=checkbox] + label:before {
	top: 4px;
	left: 0;
	color: #a0a0a0;
	font-size: 14px;
	line-height: 14px;
	content: "\f096";
	position: absolute;
	font-family: 'FontAwesome';
}
.tg-radio input[type=radio] + label:before{ content:'';}
.tg-radio input[type=radio]:checked + label:before,
.tg-checkbox input[type=checkbox]:checked + label:before {content:'\f046';}
/*==========================
		IOS CheckBox
==========================*/
.tg-iosstylcheckbox{
	width:80px;
	float:left;
	position:relative;
}
.tg-iosstylcheckbox input[type=checkbox],
.tg-iosstylcheckbox input[type=checkbox]:active {display:none;}
.tg-iosstylcheckbox label {
	margin:0;
	width: 100%;
	height: 24px;
	display: block;
	overflow:hidden;
	cursor: pointer;
	font-size: 12px;
	line-height: 24px;
	position: relative;
	background: #ddd;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
.tg-iosstylcheckbox label:before {
	top: 5px;
	left: 5px;
	z-index: 1;
	height: 14px;
	width: 14px;
	content: '';
	background:#333;
	display: block;
	line-height: 14px;
	position: absolute;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.tg-iosstylcheckbox label:after {
	top:0;
	left:0;
	z-index: 0;
	width:100%;
	height: 100%;
	color: #fff;
	display: block;
	font-size:13px;
	line-height:24px;
	text-align: right;
	padding:0 12px 0 0;
	position: absolute;
	white-space: nowrap;
	content: attr(data-private);
}
.tg-iosstylcheckbox input[type=checkbox]:checked + label:before {
	left: calc(100% - 19px);
	background:#333;
}
.tg-iosstylcheckbox input[type=checkbox]:checked + label:after {
	padding:0 31px 0 0;
	content:attr(data-public);
}
label {
	color: #414141;
	display: block;
	font-weight: 400;
	margin-bottom: 10px;
}
form p {
	float: left;
	position: relative;
	width: 100%;
}
form p span i {
	color: #474747;
	left: 16px;
	position: absolute;
	top: 13px;
}
option { padding: 5px 15px; }
li {
	line-height: 28px;
	list-style: disc inside none;
}
ul ul { margin-left: 20px; }
ol {
	float: none;
	list-style: decimal;
	padding-left: 15px;
}
ol ol { margin-left: 20px; }
ol li {
	list-style: decimal;
	width: 100%;
}
table {
	background-color: transparent;
	max-width: 100%;
}
th { text-align: left; }
table {
	margin-bottom: 15px;
	width: 100%;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	border-top: 1px solid #d2d2d2;
	border: 1px solid #d2d2d2;
	line-height: 2.5;
	padding-left: 3px;
	text-align: center;
	vertical-align: top;
}
table thead tr th {
	border-top: 1px solid #d2d2d2;
	text-align: center;
	text-transform: capitalize;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td { border-top: 1px solid #d2d2d2; }
table > thead > tr > th {
	border-bottom: 2px solid #d2d2d2;
	vertical-align: bottom;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td { border-bottom: 0; }
table > tbody + tbody { border-top: 2px solid #d2d2d2; }
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td { padding: 6px 10px; }
p ins { color: #999; }
dl dd { margin-left: 20px; }
address { font-style: italic; }
/*==============================================
			Global Elements
==============================================*/
.tg-haslayout{
	width:100%;
	float:left;
}
.tg-main-section{padding: 40px 0;}
.tg-location-map{
	width: 100%;
	float: left;
	height: 400px;
}
.tg-btn-sm{
	padding: 0 20px;
	line-height: 30px;
}
.tg-btn{
	color: #fff;
	padding: 0 50px;
	position:relative;
	text-align:center;
	display: inline-block;
	vertical-align: middle;
	text-transform: capitalize;
	font:400 14px/40px 'Hind', Arial, Helvetica, sans-serif;
}
.tg-btn:focus,
.tg-btn:hover{
	color:#fff;
	/* background: #fff; */
}
.tg-btn-lg{ width: 100%;}
.tg-socialicons{
	overflow: hidden;
	list-style: none;
	text-align:center;
	line-height: 30px;
}
.tg-socialicons li{
	float: left;
	padding: 0 4px;
	line-height: inherit;
	list-style-type: none;
}
.tg-socialicons li a{
	width:30px;
	height:30px;
	color: #fff;
	display:block;
	background:#000;
	overflow:hidden;
	line-height: 30px;
	position:relative;
	text-align: center;
	border-radius: 30px;
	text-transform:capitalize;
}
.tg-inputwithicon.tg-facebook .tg-icon,
.tg-checkbox.tg-facebook,
li.tg-facebook a{background:#3b5999;}
.tg-inputwithicon.tg-twitter .tg-icon,
.tg-checkbox.tg-twitter,
li.tg-twitter a{background:#55acee;}
.tg-inputwithicon.tg-linkedin .tg-icon,
.tg-checkbox.tg-linkedin,
li.tg-linkedin a{background:#0077B5;}
.tg-inputwithicon.tg-skype .tg-icon,
.tg-checkbox.tg-skype,
li.tg-skype a{background:#00aff0;}
.tg-checkbox.tg-dropbox,
li.tg-dropbox a{background:#007ee5;}
.tg-checkbox.tg-vimeo,
li.tg-vimeo a{background:#1ab7ea;}
.tg-checkbox.tg-tumblr,
li.tg-tumblr a{background:#34465d;}
.tg-checkbox.tg-yahoo,
li.tg-yahoo a{background:#410093;}
.tg-inputwithicon.tg-googleplus .tg-icon,
.tg-checkbox.tg-googleplus,
li.tg-googleplus a{background:#dd4b39;}
.tg-inputwithicon.tg-pinterestp .tg-icon,
.tg-checkbox.tg-pinterestp,
li.tg-pinterestp a{background:#bd081c;}
.tg-checkbox.tg-youtube,
li.tg-youtube a{background:#cd201f;}
.tg-checkbox.tg-stumbleupon,
li.tg-stumbleupon a{background:#eb4924;}
.tg-checkbox.tg-reddit,
li.tg-reddit a{background:#ff5700;}
.tg-checkbox.tg-quora,
li.tg-quora a{background:#b92b27;}
.tg-checkbox.tg-yelp,
li.tg-yelp a{background:#af0606;}
.tg-checkbox.tg-soundcloud,
li.tg-soundcloud a{background:#ff3300;}
.tg-checkbox.tg-whatsapp,
li.tg-whatsapp a{background:#25d366;}
.tg-checkbox.tg-wechat,
li.tg-wechat a{background:#09b83e;}
.tg-checkbox.tg-instagram,
li.tg-instagram a{background:#e4405f;}
.tg-checkbox.tg-dribbble,
li.tg-dribbble a{background:#ea4c89;}
.tg-checkbox.tg-flickr,
li.tg-flickr a{background:#ff0084;}
.tg-checkbox.tg-rss,
li.tg-rss a{background:#ff6600;}
.tg-socialicons li a i{
	color: #fff;
	width: 30px;
	display:block;
	font-size:13px;
	line-height:30px;
	text-align:center;
}
.tg-socialicons li a:hover{color: #fff;}
.tg-roundicontext .tg-usericonholder{
	width: 150px;
	display: block;
	overflow: hidden;
	font-style: normal;
}
.tg-roundicontext i,
.tg-roundicontext span{
	float:left;
	font-size: 13px;
	line-height: 30px;
}
.tg-roundicontext:focus,
.tg-roundicontext:hover{color: #fff;}
.tg-rss .tg-roundicontext:hover{width: 63px;}
.tg-yelp .tg-roundicontext:hover,
.tg-flickr .tg-roundicontext:hover{width: 70px;}
.tg-skype .tg-roundicontext:hover{width: 78px;}
.tg-vimeo .tg-roundicontext:hover,
.tg-yahoo .tg-roundicontext:hover,
.tg-reddit .tg-roundicontext:hover,
.tg-quora .tg-roundicontext:hover{width: 80px;}
.tg-googleplus .tg-roundicontext:hover{width: 85px;}
.tg-tumblr .tg-roundicontext:hover{width: 86px;}
.tg-linkedin .tg-roundicontext:hover{width: 87px;}
.tg-wechat .tg-roundicontext:hover{width: 90px;}
.tg-twitter .tg-roundicontext:hover,
.tg-dropbox .tg-roundicontext:hover{width: 94px;}
.tg-youtube .tg-roundicontext:hover,
.tg-dribbble .tg-roundicontext:hover{width: 96px;}
.tg-facebook .tg-roundicontext:hover{width: 100px;}
.tg-instagram .tg-roundicontext:hover{width: 104px;}
.tg-whatsapp .tg-roundicontext:hover{width: 106px;}
.tg-soundcloud .tg-roundicontext:hover{width: 116px;}
.tg-pinterestp .tg-roundicontext:hover,
.tg-stumbleupon .tg-roundicontext:hover{width: 126px;}
.tg-verticalmiddle{
	margin: 0 -1px;
	float: none !important;
	display: inline-block;
	vertical-align: middle;
}
.tg-description {
	width: 100%;
	float: left;
}
.tg-stars span,
.tg-stars{
	width:100px;
	height: 13px;
	float: left;
	line-height:13px;
	position:relative;
}
.tg-stars span:after,
.tg-stars:before {
	top: 0;
	left: 0;
	font-size: 13px;
	line-height: 13px;
	position: absolute;
	letter-spacing: 4px;
	font-family: 'FontAwesome';
	color: rgba(218, 218, 218, .8);
	content: '\f005 \f005 \f005 \f005 \f005';
}
.tg-stars:before{
	color: rgba(160, 160, 160, 1);
	content: '\f006 \f006 \f006 \f006 \f006';
}
.tg-stars span {
	width:65%;
	overflow: hidden;
}
.tg-stars span:after {color:#a0a0a0;}
.row.no-gutters{
	margin-right: 0;
	margin-left: 0;
}
.no-gutters > [class^="col-"],
.no-gutters > [class*="col-"],
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*="col-"]{
	padding-right: 0;
	padding-left: 0;
}
.tg-bglight{ background:#f7f7f7;}
.tg-bgdark{ background:#333;}
/*==============================================
			Theme Pagination
==============================================*/
.tg-pagination{
	width:100%;
	float: left;
	font:13px/30px 'Work Sans', Arial, Helvetica, sans-serif;
}
.tg-pagination ul{
	margin:0;
	padding:0;
	width: 100%;
	float:left;
	list-style:none;
	line-height: 30px;
	text-align: center;
}
.tg-pagination ul li{
	width:30px;
	height: 30px;
	margin:0 1px;
	line-height: 30px;
	background: #f8f8f8;
	list-style-type:none;
	display: inline-block;
	vertical-align: top;
}
.tg-pagination ul li a{
	color:#333;
	display:block;
	overflow: hidden;
	text-align:center;
	position:relative;
	line-height: 30px;
}
.tg-pagination ul li.tg-nextpage a,
.tg-pagination ul li.tg-prevpage a{
	color: #fff;
	background: #333;
}
.tg-pagination ul li.tg-prevpage a:hover,
.tg-pagination ul li.tg-prevpage a{border-radius: 3px 0 0 3px;}
.tg-pagination ul li.tg-nextpage a:hover,
.tg-pagination ul li.tg-nextpage a{border-radius: 0 3px 3px 0;}
.tg-pagination ul li.tg-nextpage a i,
.tg-pagination ul li.tg-prevpage a i{
	display: block;
	line-height: 30px;
}
.tg-pagination ul li.tg-active a,
.tg-pagination ul li a:hover,
.tg-pagination ul li.tg-nextpage a:hover,
.tg-pagination ul li.tg-prevpage a:hover,
.tg-pagination ul li.tg-nextpage a:hover i,
.tg-pagination ul li.tg-prevpage a:hover i{
	color: #fff;
	background: #333;
}
/*==============================================
			Theme BreadCrumb
==============================================*/
.tg-breadcrumb {
	padding: 0;
	margin:0;
	color: #333;
	float: left;
	list-style: none;
	text-align: right;
	text-transform: capitalize;
	font:13px/40px 'Hind', Arial, Helvetica, sans-serif;
}
.tg-breadcrumb li{
	width:auto;
	list-style-type:none;
	display: inline-block;
	vertical-align: middle;
	line-height:inherit;
	padding:0 15px;
	position:relative;
}
.tg-breadcrumb li:after{
	top:0;
	left:-3px;
	color:#a0a0a0;
	content:'\f105';
	position:absolute;
	font-family:'FontAwesome';
}
.tg-breadcrumb li:first-child{padding-left:0;}
.tg-breadcrumb li:first-child:after{display: none;}
.tg-breadcrumb li a{display:block;}
.tg-breadcrumb li.tg-active{color:#a0a0a0;}
.tg-addbox{
	float: right;
	overflow: hidden;
}
.tg-addbox a{display: block;}
.tg-addbox a img{
	width:100%;
	height:auto;
	display: block;
}
.tg-rtltextbox a:after {
	top: 4px;
	right: -45px;
	color: #333;
	background: #fff;
	font-size: 10px;
	line-height: 12px;
	padding: 0 8px 2px;
	position: absolute;
	border-radius: 2px;
	white-space: nowrap;
	content: attr(data-new);
	text-transform: capitalize;
	border-bottom-left-radius: 0;
}
.tg-btndropdown{
	outline: none;
	background: transparent;
}
.tg-dropdownbox{
	top: 60px;
	right: 0;
	opacity: 0;
	z-index: 999;
	width: 430px;
	padding: 30px;
	background: #fff;
	position: absolute;
	visibility: hidden;
	border: 1px solid #e6e6e6;
	-webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.20);
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.20);
}
.tg-themedropdown.open .tg-dropdownbox{
	top: 36px;
	opacity: 1;
	visibility: visible;
}
.tg-formtheme{
	width: 100%;
	float: left;
}
.tg-formtheme fieldset{
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}
.tg-inputicon{
	width: 100%;
	float: left;
	position: relative;
}
.tg-inputicon input{
	z-index: 1;
	position: relative;
}
.tg-btnshowpassword{
	top: 5px;
	right: 5px;
	z-index: 2;
	width: 30px;
	height: 30px;
	cursor: pointer;
	line-height: 30px;
	position: absolute;
	background: #333 url(../images/icons/icon-01.png) no-repeat;
}
.tg-dropdowarrow {
	top: 5px;
	z-index: 5;
	color: #fff;
	right: 20px;
	width: 20px;
	height: 20px;
	display: none;
	cursor: pointer;
	font-size: 8px;
	line-height: 20px;
	position: absolute;
	text-align: center;
	background: #484848;
}
.tg-dropdowarrow i{
	display: block;
	font-size: 8px;
	line-height: inherit;
}
.tg-open > .tg-dropdowarrow i:before{content: '\e874';}
/*==============================================
			Theme Style
==============================================*/
.tg-wrapper,
body.tg-home .tg-wrapper{overflow:hidden;}
body.tg-home .tg-main{margin: -20px 0 0;}
.tg-main{padding: 60px 0;}
body.tg-commingsoonpage .tg-main{
	padding:0;
	height:100%;
}
body.tg-commingsoonpage .tg-wrapper{
	height:100%;
	overflow:visible;
	position:relative;
}



/*==============================================
			Header
==============================================*/
.tg-header{
	z-index: 5;
	position: relative;
	border-bottom: 1px solid #ddd;
}
.tg-topbar{
	width: 100%;
	float: left;
}
.tg-topbar .tg-leftbox{float: left;}
.tg-topbar .tg-rightbox{float: right;}
.tg-datebox,
.tg-rtltextbox,
.tg-topbar .tg-rightbox ul{float: left;}
.tg-datebox{
	color: #a0a0a0;
	font-size: 14px;
	line-height: 20px;
	margin: 0 14px 0 0;
	position: relative;
	padding: 0 15px 0 0;
}
.tg-datebox:before{
	top: 50%;
	right: 0;
	content: '';
	width: 1px;
	height: 12px;
	margin: -6px 0 0;
	position: absolute;
	background: #a0a0a0;
}
.tg-datebox input{
	border: 0;
	padding: 0;
	width: 160px;
	height: 40px;
	color: #a0a0a0;
	min-width: auto;
	line-height: 40px;
	pointer-events:none;
	background: transparent;
}
.tg-rtltextbox{line-height: 40px;}
.tg-rtltextbox em{
	font-style: normal;
	padding: 0 15px 0 0;
	display: inline-block;
	vertical-align: top;
}
.tg-topbar .tg-rightbox ul{
	line-height: 20px;
	list-style-type: none;
}
.tg-topbar .tg-rightbox ul li{
	float: left;
	list-style: none;
	line-height: inherit;
}
.tg-topbar .tg-rightbox ul li > a,
.tg-rtltextbox{color: #a0a0a0;}
.tg-rtltextbox a{
	color: #fff;
	margin: 0 0 0 5px;
	line-height: 40px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.tg-rtltextbox a:before{
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	content: '';
	background: #fff;
	position: absolute;
}
.tg-topbar .tg-rightbox ul li a:hover,
.tg-rtltextbox a:hover{color: #fff;}
.tg-topbar .tg-rightbox ul.tg-socialicons{
	position: relative;
	margin: 0 14px 0 0;
	padding: 0 6px 0 0;
}
.tg-topbar .tg-rightbox ul.tg-socialicons:before{
	top: 50%;
	right: 0;
	content: '';
	width: 1px;
	height: 12px;
	margin: -6px 0 0;
	position: absolute;
	background: #a0a0a0;
}
.tg-topbar .tg-rightbox ul.tg-socialicons li{line-height: 40px;}
.tg-topbar .tg-rightbox ul.tg-socialicons li a{
	width: 20px;
	height: auto;
	background:none;
	line-height: 40px;
	position: relative;
}
.tg-topbar .tg-rightbox ul.tg-socialicons li a:before{
	left: 0;
	bottom: 45%;
	opacity: 0;
	width: 100%;
	height: 1px;
	content: '';
	background: #fff;
	position: absolute;
	visibility: hidden;
}
.tg-topbar .tg-rightbox ul.tg-socialicons li a:hover:before{
	bottom: 0;
	opacity: 1;
	visibility: visible;
}
.tg-topbar .tg-rightbox ul.tg-socialicons li a i{
	width:20px;
	color:#a0a0a0;
	line-height: inherit;
}
.tg-topbar .tg-rightbox ul + ul{
	padding: 10px 0;
	text-transform: capitalize;
}
.tg-topbar .tg-rightbox ul + ul li{padding: 0 10px;}
.tg-topbar .tg-rightbox ul + ul li:first-child{padding-left: 0;}
.tg-topbar .tg-rightbox ul + ul li:last-child{padding-right: 0;}
.tg-topbar .tg-rightbox ul + ul li + li:before{
	top: 1px;
	left: -2px;
	content: '/';
	position: absolute;
}
.tg-logoarea{
	width: 100%;
	float: left;
	padding: 40px 0;
	border-bottom: 1px solid #ddd;
}
.tg-logo{
	float: left;
	padding: 22px 0;
}
.tg-logo a,
.tg-logo a img{display: block;}
.tg-logoarea .tg-addbox{float: right;}
.tg-navigationarea{
	width: 100%;
	float: left;
	position: relative;
}
.tg-nav{
	float: left;
	padding: 26px 5px 0;
	text-transform: capitalize;
	font:400 14px/17px 'Hind', Arial, Helvetica, sans-serif;
}
.tg-navigation{
	width: 100%;
	float: left;
	padding: 0;
}
.tg-navigation ul{list-style: none;}
.tg-navigation > ul{
	width: 100%;
	float: left;
	line-height: inherit;
}
.tg-navigation ul li{
	float: left;
	list-style-type: none;
}
.tg-navigation > ul > li{
	padding: 0 15px;
	line-height: inherit;
}
.tg-navigation > ul > li:last-child > a{padding-right: 0 !important;}
.tg-navigation > ul > li:last-child > a:before{display: none;}
.tg-navigation ul li a{
	display: block;
	color: #a0a0a0;
}
.tg-navigation ul li a i{}
.tg-navigation > ul > li > a{padding: 0 0 27px;}
.menu-item-has-children{position: relative;}
.menu-item-has-children a{}
.tg-navigation > ul > li.menu-item-has-children > a{
	position: relative;
	padding: 0 16px 27px 0;
}
.menu-item-has-children > a:before{
	top: 0;
	right: 0;
	color: inherit;
	content: '\f107';
	position: absolute;
	font-size: inherit;
	line-height: inherit;
	font-family: 'FontAwesome';
}
.sub-menu{
	top: 100px;
	left: 0;
	margin: 0;
	opacity: 0;
	width: 230px;
	background: #fff;
	line-height: 40px;
	visibility: hidden;
	position: absolute;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.20);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.20);
}
.sub-menu > li{
	width: 100%;
	line-height: inherit;
}
.sub-menu > li + li{border-top: 1px solid #ddd;}
.sub-menu > li > a{padding: 0 20px;}
.sub-menu > li:hover > a,
.sub-menu > li > a:hover{background: #fcfcfc;}
.menu-item-has-children .menu-item-has-children > a:before{
	right: 20px;
	content: '\f105';
}
.menu-item-has-children .menu-item-has-children .sub-menu{
	top: 100%;
	left: 100%;
}
.menu-item-has-children:hover > .sub-menu{
	top: 45px;
	opacity: 1;
	visibility: visible;
}
.menu-item-has-children.megadropdown:hover > .sub-menu{top: 100%;}
.menu-item-has-children .menu-item-has-children:hover .sub-menu{top: 0;}
.megadropdown{position: static;}
.tg-tabsdropdown{width: 1140px;}
.tg-btnsearchtoggle{
	float: right;
	margin: 25px 0;
	color: #a0a0a0;
	font-size: 18px;
	line-height: 19px;
}
.tg-megamenuslider{
	width:100%;
	float:left;
	clear:both;
	margin:0 -15px;
}
.tg-megamenuslider:after{
	content:'';
	clear:both;
	overflow:hidden;
}
.tg-megamenuslider .item{
	width:100%;
	float:left;
}
.tg-megamenuslider .item .tg-post{padding:0 15px;}
.tg-megamenuslider .owl-controls.clickable{
	top:-30px;
	right:15px;
	width:50px;
	float:none;
	text-align:right;
	line-height:20px;
	position:absolute;
}
.tg-megamenuslider .owl-controls.clickable .tg-btnarrowprev{margin:0;}
.tg-megamenuslider .owl-controls.clickable .tg-btnarrownext{margin:0 0 0 10px;}
.tg-tabsslider .item .tg-posttitle h3 a{color:#333;}
/*=============================================
		Search Style
=============================================*/
.tg-search{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index:999;
	position: fixed;
	padding:0 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: rgba(255, 255, 255, 0.95);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
	opacity: 0;
}
.tg-search .tg-btn{background:transparent;}
.tg-search.open {
	-webkit-transform: translate(0px, 0px) scale(1, 1);
	-moz-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1);
	opacity: 1;
}
.tg-search form{
	width:100%;
	float:left;
	position: relative;
}
.tg-search form fieldset{
	border:0;
	margin:0;
	padding:0;
	float:left;
	width:100%;
	text-align:center;
}
.tg-search .form-group{
	width:100%;
	float:left;
	position:relative;
}
.tg-search .form-control{
	width: 100%;
	height:100px;
	float:left;
	border: 0px;
	padding:20px;
	outline: none;
	color: #333;
	font-size: 60px;
	font-weight: 700;
	line-height:60px;
	text-align: left;
	border-bottom:1px solid #333;
	background: rgba(0, 0, 0, 0);
}
.tg-search .form-control:focus{ box-shadow:none;}
.tg-search .form-control:focus::-moz-placeholder,
.tg-search input:focus,
.tg-search .form-control:focus{color: #333;}
.tg-search .tg-btn{
	right:0;
	bottom:0;
	padding: 0;
	width: 70px;
	color: #333;
	margin: 15px 0;
	font-size:50px;
	line-height:70px;
	position:absolute;
}
.tg-search .tg-btn span{
	display: block;
	line-height: inherit;
}
.tg-search .close{
	width:30px;
	height:30px;
	top: 100px;
	right: 65px;
	opacity: 1;
	font-size: 30px;
	line-height:30px;
	position: fixed;
	background: none;
}
.tg-search .tg-description{
	color: #333;
	font-size: 18px;
	line-height: 21px;
	text-align: left;
	padding: 0 30px;
}
.tg-search .tg-description p{margin: 0;}
.tg-search .form-control::-webkit-input-placeholder {color: #333;}
.tg-search .form-control:-moz-placeholder {color: #333;}
.tg-search .form-control::-moz-placeholder {color: #333;}
.tg-search .form-control:-ms-input-placeholder {color: #333;}
.tg-themedropdown form fieldset h2{
	margin: 0 0 20px;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
}
.tg-notebox{
	clear: both;
	color: #a0a0a0;
	overflow: hidden;
	padding: 15px 30px;
	text-align: center;
	background: #f7f7f7;
	margin: 0 -30px -30px;
}
.tg-notebox p{
	margin: 0;
	font-size: 13px;
	line-height: 20px;
}
.tg-notebox p a,
.tg-notebox p a:hover{color: #333 !important;}
.tg-formlogin fieldset .tg-checkbox{width: auto;}
.tg-btnforgot{
	float: right;
	font-size: 13px;
}
.tg-btnforgot:hover{color: #333 !important;}
.tg-themetabstyle{
	width: 100%;
	float: left;
	background: #f7f7f7;
}
.tg-tabnav{
	margin: 0;
	width: 200px;
	float: left;
	color: #a0a0a0;
	padding: 10px 0;
	list-style: none;
	background: #fff;
	font-size: 13px;
	line-height: 20px;
}
.tg-tabnav li{
	width: 100%;
	float: left;
	line-height: inherit;
	border: 0 !important;
	list-style-type: none;
}
.tg-tabnav li a{
	width: 100%;
	float: left;
	color: #a0a0a0;
	padding: 10px 20px;
	position: relative;
}
.tg-tabnav li a:before{
	top: 10px;
	left: auto;
	right: 20px;
	color: inherit;
	content: '\f105';
	position: absolute;
	font-size: inherit;
	line-height: inherit;
	font-family: 'FontAwesome';
}
.tg-tabnav li:hover a,
.tg-tabnav li.active a{
	color: #333;
	background: #f7f7f7;
}
.tg-tabcontent{overflow: hidden;}
.tg-tabcontent .tab-pane {
	width: 100%;
	float: left;
	padding: 26px;
}
.tg-tabcontent .tab-pane h2{
	margin: 0 0 15px;
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
}
/*=============================================
		Post Style
=============================================*/
.tg-posts{
	width: 100%;
	float: left;
}
.tg-post{
	width: 100%;
	float: left;
}
.tg-postimg{
	margin: 0;
	width: 100%;
	float: left;
	overflow: hidden;
	background: #000;
	position: relative;
}
.tg-postimg a,
.tg-postimg img,
.tg-postimg a img{display: block;}
.tg-post .tg-postimg img,
.tg-post .tg-postimg a img{
	width: 100%;
	height: auto;
	opacity: 0.80;
}
.tg-postimg a,
.tg-postimg img{
	z-index: 1;
	position: relative;
}
.tg-postcontent{
	width: 100%;
	float: left;
	margin: 20px 0 0;
}
.tg-borderleft{
	width: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	padding: 0 0 0 10px;

}
.tg-borderleft:before{
	top: -6px;
	left: 0;
	width: 1px;
	height: 100%;
	content: '';
	position: absolute;
	background: #e6e6e6;
}
.tg-posttags{
	width: 100%;
	float: left;
	color: #a0a0a0;
	margin: 0 0 5px;
	font-size: 14px;
	line-height: 14px;
	list-style: none;
}
.tg-posttags li{
	float: left;
	position: relative;
	line-height: inherit;
	list-style-type: none;
}
.tg-posttags li + li{padding: 0 0 0 10px;}
.tg-posttags li + li:before{
	left: 0;
	bottom: 0;
	content: ',';
	position: absolute;
}
.tg-posttags li a{color: #a0a0a0;}
.tg-posttitle{
	width: 100%;
	float: left;
}
.tg-posttitle h3{
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
}
.tg-posttitle h3 a{
	color: #333;
	display: inline-block;
	line-height: inherit;
}
.tg-post:hover .tg-postimg img,
.tg-post:hover .tg-postimg a img{opacity: 0.40;}
.tg-btnplayvideo{
	top: 50%;
	left: 50%;
	z-index: 2;
	width: 50px;
	height: 50px;
	padding: 5px;
	display: block;
	overflow: hidden;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	margin: -25px 0 0 -25px;
	background: rgba(0, 0, 0, 0.50);
}
.tg-btnplayvideo i{
	width: 40px;
	color: #fff;
	height: 40px;
	display: block;
	font-size: 10px;
	line-height: 38px;
	border-radius: 50%;
	border: 1px solid #fff;
}
.tg-postimg a.tg-btnplayvideo{position: absolute;}
.tg-postfeatured{
	width: 16px;
	top: 20px;
	z-index: 2;
	right: 20px;
	color: #333;
	background: #fff;
	text-align: center;
	position: absolute;
}
.tg-postfeatured:before{
	top: 100%;
	left: 0;
	content: '';
	position: absolute;
	border-left: 8px solid #fff;
	border-right: 8px solid #fff;
	border-bottom: 6px solid transparent;
}
.tg-postfeatured i{
	color: #333;
	margin: 4px 0;
	display: block;
	font-size: 10px;
	line-height: 10px;

}
.tg-postimg figcaption{
	left: 0;
	bottom: 0;
	z-index: 2;
	padding: 30px;
	position: absolute;
}
.tg-postimg figcaption .tg-postcontent{margin: 0;}
.tg-postimg figcaption .tg-posttags,
.tg-postimg figcaption .tg-posttags li a{color: #fff;}
.tg-postimg figcaption .tg-posttitle h3 a{color: #fff;}
.tg-posttitlelarge h3{
	font-size: 24px;
	line-height: 27px;
}
.tg-postbtnbox{
	width: 100%;
	float: left;
	padding: 25px 0 0;
}
.tg-postbtnbox .tg-btn{float: left;}
.tg-postimg figcaption .tg-postbtnbox{padding: 20px 0 0;}
.tg-postcononimg .tg-postimg{margin: 0;}
.tg-postsmall,
.tg-postbig{
	width:100%;
	float:left;
}
/*=============================================
		Home Banner Slider
=============================================*/
.tg-homeslider{
	width: 100%;
	float: left;
	padding: 20px 10px;
}
.tg-homeslider .item{
	width: 100%;
	float: left;
	padding: 0 10px;
}
/*=============================================
		Heaing style
=============================================*/
.tg-heading{
	width: 100%;
	float: left;
	margin: 0 0 40px;
	padding: 0 0 22px;
	text-align: center;
	background: url(../images/icons/icon-02.png) no-repeat center bottom;
}
.tg-heading h3{
	margin: 0;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
}
/*=============================================
		Body Style
=============================================*/
.tg-featuredposts{
	width: 100%;
	float: left;
	position: relative;
}
.tg-featuredpostslider{
	width: 100%;
	float: left;
	padding: 0 0 30px;
	border-bottom: 1px solid #e6e6e6;
}
.tg-featuredpostslider .item{
	width: 100%;
	float: left;
	padding: 0 15px;
}
.tg-featuredpostslider .item .tg-post .tg-postimg{
	margin:0 0 15px;
	overflow:visible;
}
.tg-post .tg-postimg .tg-btnview{
	bottom:50%;
	right:60%;
	position:absolute;
	margin:0 -40px -10px 0;
}
.tg-post:hover figure .tg-btnview{
	opacity:1;
	right:50%;
	visibility:visible;
}
.tg-post .tg-postimg .tg-postmatadata{
	left:0;
	z-index:9;
	width:auto;
	bottom:-15px;
	padding:8px 20px;
	position:absolute;
}
.tg-post .tg-postimg .tg-postmatadata li a:hover span,
.tg-post .tg-postimg .tg-postmatadata li a{color:#fff;}
.tg-relatedproduct .owl-controls,
.tg-featuredpostslider .owl-controls{
	right: 0;
	float: none;
	width: auto;
	bottom: -10px;
	background: #fff;
	position: absolute;
}
.tg-relatedproduct .owl-controls .owl-buttons,
.tg-featuredpostslider .owl-controls .owl-buttons{
	width: 100%;
	float: left;
}
.tg-relatedproduct .owl-controls .owl-buttons > div,
.tg-featuredpostslider .owl-controls .owl-buttons > div{
	float: left;
	display: block;
	color: #a0a0a0;
}
.tg-relatedproduct .owl-controls .owl-buttons > div:hover,
.tg-featuredpostslider .owl-controls .owl-buttons > div:hover{color: #333;}
.tg-btnarrowprev{margin: 0 0 0 20px;}
.tg-btnarrownext{margin: 0 0 0 70px;}
.tg-btnarrowprev,
.tg-btnarrownext,
.tg-btnarrowprev i,
.tg-btnarrownext i{
	display: block;
	font-size: 20px;
	line-height: 20px;
}
.tg-slidecount{
	bottom: -10px;
	right: 45px;
	z-index: 3;
	position: absolute;
}
.tg-currentItem{color: #333;}
.tg-twocolumns{
	width: 100%;
	float: left;
}
.tg-content{
	width: 100%;
	float: left;
}
.tg-content .tg-addbox{
	max-width: 770px;
	width:100%;
	float: none;
	margin: 40px auto;
}
.tg-postcontent .tg-description{
	margin: 0 0 20px;
	padding: 5px 0 15px;
	border-bottom: 1px solid #e6e6e6;
}
.tg-postcontent .tg-description p{margin: 0;}
.tg-postmatadata{
	width: 100%;
	float: left;
	font-size: 13px;
	line-height: 13px;
	list-style: none;
}
.tg-postmatadata li{
	float: left;
	padding: 0 10px;
	line-height: inherit;
	list-style-type: none;
}
.tg-postmatadata li:first-child{padding-left: 0;}
.tg-postmatadata li:last-child{padding-right: 0;}
.tg-postmatadata li a{
	color: #a0a0a0;
	display: block;
}
.tg-postmatadata li a:hover,
.tg-postmatadata li a:hover span{color: #333;}
.tg-postmatadata li a span{
	display: inline-block;
	vertical-align: middle;
}
.tg-postmargin{
	width: 100%;
	float: left;
	margin: -15px 0;
}
.tg-postmargin .tg-post{padding: 15px 0;}
.tg-loadmoreicon{
	width:100%;
	float:left;
	margin:34px 0 0;
	padding:10px 0 0;
	text-align:center;
	border-top:1px solid #e6e6e6;
}
.tg-loadmoreicon i{
	color:#a0a0a0;
	font-size:14px;
	line-height:14px;
}
.tg-btnplayvideo i.fa-volume-up{font-size: 15px;}
.tg-widgettitle,
.tg-borderheading{
	width: 100%;
	float: left;
	margin: 0 0 20px;
	position: relative;
	border-bottom: 1px solid #e6e6e6;
}
.tg-widgettitle:before,
.tg-borderheading:before{
	left: 0;
	width: 50px;
	height: 1px;
	content: '';
	bottom: -1px;
	background: #333;
	position: absolute;
}
.tg-widgettitle h3,
.tg-borderheading h3{
	margin: 0 0 10px;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
}
.tg-widgettitle h3{
	font-size: 16px;
	line-height: 16px;
}
.tg-sidebar{
	width: 100%;
	float: left;
}
.tg-widget {
	width: 100%;
	float: left;
}
.tg-widget + .tg-widget {margin: 40px 0 0 ;}
.tg-widget .tg-addbox a{margin: 0 0 5px;}
.tg-widget .tg-addbox span{
	display: block;
	text-align: center;
}
.tg-widgetcategories .tg-widgetcontent ul{text-align: right;}
.tg-widgetcategories .tg-widgetcontent ul li a{
	width: 100%;
	float: left;
	position: relative;
}
.tg-widgetcategories .tg-widgetcontent ul li a:hover{padding: 0 0 0 15px;}
.tg-widgetcategories .tg-widgetcontent ul li a:before{
	top: 0;
	left: 0;
	opacity: 0;
	color: #333;
	content: '\f105';
	position: absolute;
	font-size: inherit;
	visibility: hidden;
	line-height:inherit;
	font-family: 'FontAwesome';
}
.tg-widgetcategories .tg-widgetcontent ul li a:hover:before{
	opacity: 1;
	visibility: visible;
}
.tg-widgetpostslider .item{
	width:100%;
	float:left;
}
.tg-widgetpostslider .owl-wrapper-outer{margin: 0 0 20px;}
.tg-widgetcontent{
	width: 100%;
	float: left;
	padding: 0 20px;
}
.tg-widgetcontent ul{
	width: 100%;
	float: left;
	font-size: 13px;
	line-height: 20px;
	list-style: none;
	text-align: left;
}
.tg-widgetcontent ul li{
	width: 100%;
	float: left;
	padding: 5px 0;
	list-style-type: none;
}
.tg-widgetcontent ul li + li{border-top: 1px solid #e6e6e6;}
.tg-widgetcontent ul li a{color: #a0a0a0;}
.tg-widgetcontent ul li a:hover{color: #333;}
.tg-widgetcontent ul li a span{float: left;}
.tg-widgetcontent ul li figure{
	margin: 0;
	position: relative;
}
.tg-widgetcontent ul li figure img{
	z-index: 1;
	display: block;
	position: relative;
}
.tg-widgetfacebook .tg-widgetcontent{padding: 0;}
.tg-widgetstayconnected .tg-widgetcontent ul{line-height: 30px;}
.tg-widgetstayconnected .tg-widgetcontent ul li{
	border: 0;
	padding: 0;
	line-height: inherit;
}
.tg-widgetstayconnected .tg-widgetcontent ul li + li{margin: 10px 0 0;}
.tg-widgetstayconnected .tg-widgetcontent ul li a{
	width: 100%;
	float: left;
	font-size: 12px;
	background: #f7f7f7;
}
.tg-widgetstayconnected .tg-widgetcontent ul li.tg-facebook a:hover{background: #3b5999;}
.tg-widgetstayconnected .tg-widgetcontent ul li.tg-twitter a:hover{background: #55acee;}
.tg-widgetstayconnected .tg-widgetcontent ul li.tg-youtubeplay a:hover{background: #cd201f}
.tg-widgetstayconnected .tg-widgetcontent ul li.tg-linkedin a:hover{background: #4875B4;}
.tg-widgetstayconnected .tg-widgetcontent ul li a i.fa{
	float: left;
	width: 30px;
	display: block;
	color: #a0a0a0;
	text-align: center;
	margin: 0 15px 0 0;
	line-height: inherit;
}
.tg-widgetstayconnected .tg-widgetcontent ul li a span{
	float: left;
	color: #a0a0a0;
	line-height: inherit;
}
.tg-widgetstayconnected .tg-widgetcontent ul li a em{
	float: right;
	color: #a0a0a0;
	padding: 0 10px;
	font-style: normal;
	line-height: inherit;
	text-transform: uppercase;
}
.tg-widgetstayconnected .tg-widgetcontent ul li a:hover i,
.tg-widgetstayconnected .tg-widgetcontent ul li a:hover em{background: rgba(0, 0, 0, 0.10);}
.tg-widgetstayconnected .tg-widgetcontent ul li a:hover,
.tg-widgetstayconnected .tg-widgetcontent ul li a:hover i,
.tg-widgetstayconnected .tg-widgetcontent ul li a:hover span,
.tg-widgetstayconnected .tg-widgetcontent ul li a:hover em{color: #fff;}
.tg-widgettrendingposts .tg-widgetcontent ul{}
.tg-widgettrendingposts .tg-widgetcontent ul li{
	border: 0;
	padding: 0;
}
.tg-widgettrendingposts .tg-widgetcontent ul li + li{margin: 20px 0 0 0;}
.tg-widgettrendingposts .tg-widgetcontent ul li figure{
	float: left;
	overflow:hidden;
	background: #000;
	margin: 0 10px 0 0;
}
.tg-widgettrendingposts .tg-widgetcontent ul li figure a{display: block;}
.tg-widgettrendingposts .tg-widgetcontent ul li figure a img{
	opacity: 0.60;
	display: block;
}
.tg-widgettrendingposts .tg-widgetcontent ul li:hover figure a img{opacity: 0.40;}
.tg-trendingpostcontent{
	overflow: hidden;
	font-size: 13px;
	line-height: 16px;
}
.tg-trendingpostcontent h4{
	margin: 0;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.tg-widgettrendingposts .tg-widgetcontent ul li .tg-trendingpostcontent h4 a{
	color: #333;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.tg-content .tg-widgettrendingposts .tg-widgetcontent ul li .tg-trendingpostcontent h4 a,
.tg-column .tg-widgettrendingposts .tg-widgetcontent ul li .tg-trendingpostcontent h4 a{
	overflow:visible;
	white-space:normal;
}
.tg-trendingpostcontent time{padding: 8px 0;}
.tg-trendingpostcontent time,
.tg-trendingpostcontent span{display: block;}
.tg-widgetinstagram .tg-widgetcontent{
	clear: both;
	width: auto;
	float: none;
	padding: 0 15px;
	overflow: hidden;
}
.tg-widgetinstagram .tg-widgetcontent .tg-instagramgallery ul li{
	border: 0;
	width: 33.33%;
	padding: 5px;
}
.tg-widgetinstagram .tg-widgetcontent .tg-instagramgallery ul li figure{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.tg-widgetinstagram .tg-widgetcontent .tg-instagramgallery ul li a{
	z-index: 1;
	display: block;
	position: relative;
}
.tg-instagramgallery .tg-instagramlike{
	margin: 0;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	position: absolute;
}
.tg-widgetinstagram .tg-widgetcontent .tg-instagramgallery ul li figure:hover .tg-instagramlike{
	opacity: 1;
	visibility: visible;
}
.tg-widgetlatestposts .tg-widgetcontent{padding:0;}
.tg-widgetlatestposts .tg-postimg .tg-btnview{
	z-index:3;
	top:50%;
	bottom:auto;
	right:200px;
	margin:-8px 0 0;
	position:absolute;
}
.tg-widgetlatestposts .tg-post:hover .tg-btnview{
	opacity: 1;
	right: 100px;
	visibility: visible;
}
.tg-contactinfo {
	width: 100%;
	float: left;
	list-style: none;
}
.tg-contactinfo li {
	width: 100%;
	float: left;
	line-height:normal;
	list-style-type: none;
}
.tg-widgetcontactus .tg-widgetcontent li + li{border:0;}
.tg-contactinfo li:first-child{padding-top:0;}
.tg-contactinfo li i {
	width: 22px;
	line-height:17px;
}
.tg-contactinfo li i,
.tg-contactinfo li address,
.tg-contactinfo li span {
	margin: 0;
	font-style: normal;
	display: inline-block;
	vertical-align:top;
}
.tg-widgetcontactus .tg-socialiconsround{padding:10px 0 0;}
.tg-widgetcontactus .tg-socialiconsround li{
	width:auto;
	padding:0 3px;
}
.tg-widgetcontactus .tg-socialiconsround li:first-child{padding-left:0;}
.tg-widgetaboutus .tg-widgetcontent .tg-description{padding:0;}
.tg-widdgetpopular .tg-widgetcontent .tg-trendingpostcontent h4{margin:0 0 5px;}
.tg-widdgetpopular .tg-widgetcontent .tg-trendingpostcontent .tg-stars{margin:0 0 5px;}
.tg-widgettrendingposts .tg-widgetcontent ul li figure .tg-btnview{
	top:50%;
	right:96px;
	padding-right:15px;
	margin:-7px 0 0 -7px;
}
.tg-widgettrendingposts .tg-widgetcontent ul li figure .tg-btnview:before{font-size:16px;}
.tg-widgettrendingposts .tg-widgetcontent ul li:hover figure .tg-btnview{
	right:35px;
	opacity:1;
	visibility:visible;
}
/*=============================================
		Footer Style
=============================================*/
.tg-footer{}
.tg-instagramgallery{
	width: 100%;
	float: left;
}
.tg-instagramgallery ul{
	width: 100%;
	float: left;
	list-style: none;
}
.tg-instagramgallery ul li{
	width: 16.66%;
	float: left;
	position: relative;
	list-style-type: none;
}
.tg-instagramgallery ul li figure{
	margin: 0;
	width: 100%;
	float: left;
	background: #000;
}
.tg-instagramgallery ul li figure figcaption{
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	position: absolute;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.tg-instagramgallery ul li figure img{
	z-index: 1;
	width: 100%;
	height: auto;
	opacity: 0.60;
	display: block;
	position: relative;
}
.tg-instagramgallery ul li figure:hover img{opacity: 0.40;}
.tg-instagramgallery ul li figure:hover .tg-btnview{
	opacity: 1;
	right: 30px;
	visibility: visible;
}
.tg-instagramgallery ul li figure:hover figcaption{
	opacity: 1;
	visibility: visible;
}
.tg-btnview{
	z-index: 3;
	opacity: 0;
	color: #fff;
	right: 90px;
	bottom: 30px;
	font-size: 14px;
	line-height: 17px;
	visibility: hidden;
	position: absolute;
	padding-right: 20px;
	text-transform: capitalize;
	font-family: 'Hind', Arial, Helvetica, sans-serif;
}
.tg-btnview:focus,
.tg-btnview:hover{color: #fff;}
.tg-btnview:before{
	top: 0;
	right: 0;
	color: #fff;
	content: '';
	font-size: 13px;
	line-height: 17px;
	position: absolute;
	font-family: 'Linearicons-Free';
}
.tg-instagramlike,
.tg-instagramcomment{
	color: #fff;
	margin: 0 10px;
	font-size: 12px;
	line-height: 20px;
	padding: 20px 0 0;
	position: relative;
	vertical-align: top;
	display: inline-block;
}
.tg-instagramlike:before,
.tg-instagramcomment:before{
	top: 0;
	right: 0;
	color: #fff;
	width: 100%;
	display: block;
	font-size: 14px;
	line-height: 20px;
	position: absolute;
	text-align: center;
	font-family: 'Linearicons-Free';
}
.tg-instagramlike:before{content: '\e813';}
.tg-instagramcomment:before{content: '\e83f';}
.tg-newsletter{
	width: 100%;
	float: left;
	padding: 60px 0;
	background: url(/images/bg-newsletter.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.tg-newsletter span{
	color: #a0a0a0;
	display: block;
	font-size: 14px;
	line-height: 14px;
	padding: 0 0 8px;
	font-family: 'Hind', Arial, Helvetica, sans-serif;
}
.tg-newsletter h3{
	margin: 0;
	font-size: 22px;
	font-weight: 700;
	line-height: 18px;

}
.tg-formnewsletter{
	position: relative;
	padding-right: 170px;
}
.tg-formnewsletter .form-group{
	margin: 0;
	width: 50%;
	float: left;
	padding-right: 20px;
}
.tg-formnewsletter .tg-btn{
	top: 0;
	right: 0;
	width: 170px;
	padding: 0;
	position: absolute;
}
.tg-threecolumns{
	width: 100%;
	float: left;
	padding: 60px 0;
	border-bottom: 1px solid #ddd;
}
.tg-column{
	width: 100%;
	float: left;
}
.tg-widgetaboutus figure{
	width: 100%;
	float: left;
	margin: 0 0 20px;
}
.tg-widgetaboutus figure img{
	width: 100%;
	height: auto;
	display: block;
}
.tg-column .tg-widgetaboutus h3{
	margin: 0;
	width: 100%;
	float: left;
	font-size: 16px;
	font-weight: 700;
	line-height: 14px;
}
.tg-widgetaboutus .tg-description{padding: 20px 0;}
.tg-widgetaboutus .tg-description p{margin: 0;}
.tg-widgetaboutus .tg-socialicons{
	width: 100%;
	float: left;
	padding: 0 0 30px;
}
.tg-widgetaboutus .tg-socialicons li{
	float: left;
	padding: 0 15px 0 0;
}
.tg-widgetaboutus .tg-socialicons li a{
	width:auto;
	height:auto;
	color:#a0a0a0;
	background:none;
}
.tg-widgetaboutus .tg-socialicons li a i{
	width:auto;
	height:auto;
	color:#a0a0a0;
}
.tg-widgetaboutus .tg-socialicons li a:hover{color: #333;}
.tg-btnbox{
	width: 100%;
	float: left;
}
.tg-column .tg-widgetcategories .tg-widgetcontent{padding: 0;}
.tg-column .tg-widgetcategories .tg-widgetcontent ul li{
	border: 0;
	padding: 0;
	line-height: 30px;
}
.tg-footerbar{
	width: 100%;
	float: left;
	padding: 20px 0;
}
.tg-footerbar .tg-logo{
	float: left;
	padding: 0;
}
.tg-copyrightbox{
	float: right;
	padding: 7px 0;
	font-size: 13px;
	line-height: 16px;
}
.tg-copyrightbox span,
.tg-copyrightbox ul{
	display: inline-block;
	vertical-align: middle;
}
.tg-copyrightbox span{
	padding: 0 15px 0 0;
	position: relative;
}
.tg-copyrightbox span:before{
	top: 50%;
	left: 100%;
	width: 2px;
	height: 10px;
	content: '';
	margin: -5px 0 0;
	position: absolute;
	background: #b9b9b9;
}
.tg-copyrightbox ul{
	list-style: none;
	line-height: 16px;
}
.tg-copyrightbox ul li{
	float: left;
	padding: 0 0 0 15px;
	line-height: inherit;
	list-style-type: none;
}
.tg-copyrightbox ul li a{
	color: #b9b9b9;
	display: block;
}
.tg-copyrightbox ul li a:hover{color: #333;}
/*=============================================
		Home Version Two
=============================================*/
body.tg-hometwo .tg-header .tg-topbar{
	background:#fff;
	border-bottom:1px solid #e6e6e6;
}
body.tg-hometwo .tg-header .tg-topbar .tg-rtltextbox a:before{bottom:-1px;}
body.tg-hometwo .tg-header .tg-topbar .tg-rtltextbox a:after{color:#fff;}
.tg-margintopzero{margin-top: 0 !important;}
.tg-homebanner{
	width: 100%;
	float: left;
	padding: 20px 0 0;
	border-bottom: 1px solid #e6e6e6;
}
.tg-homebanner > ul{
	clear: both;
	margin: -5px;
	overflow: hidden;
	list-style: none;
}
.tg-homebanner > ul > li{
	padding: 5px;
	width: 34%;
	float: left;
	list-style-type: none;
}
.tg-homebanner > ul > li:first-child{width: 66%;}
.tg-tickerbox{
	width: 100%;
	float: left;
	padding: 10px 0;
	position: relative;
}
.tg-tickerbox > span{
	float: left;
	color: #fff;
	padding: 0 10px;
	font-size: 12px;
	background: #333;
	line-height: 28px;
}
.tg-ticker{
	width: auto;
	overflow: hidden;
	padding: 0 0 0 75px;
}
.tg-ticker .item{
	width: 100%;
	float: left;
}
.tg-ticker .item .tg-description{padding: 4px 0;}
.tg-ticker .item .tg-description p{
	margin: 0;
	line-height: 20px;
}
.tg-btnsquareprev,
.tg-btnsquarenext{
	color: #333;
	width: 28px;
	height: 28px;
	display: block;
	margin: 0 3px;
	line-height: 28px;
	text-align: center;
}
.tg-btnsquareprev i,
.tg-btnsquarenext i{
	display: block;
	line-height: inherit;
}
.tg-btnsquareprev:hover,
.tg-btnsquarenext:hover{
	color: #fff;
	background: #333;
}
.tg-ticker.owl-theme .owl-controls{
	top: 0;
	left: 0;
	width: auto;
	float: none;
	position: absolute;
}
/*=============================================
		Home Version Three
=============================================*/
body.tg-boxed{background: url(../images/bgbody.png);}
body.tg-homethree .tg-header .tg-topbar{
	background:#fff;
	border-bottom:1px solid #e6e6e6;
}
body.tg-homethree .tg-header .tg-topbar .tg-rtltextbox a:before{bottom:-1px;}
body.tg-homethree .tg-header .tg-topbar .tg-rtltextbox a:after{color:#fff;}
.tg-boxed .tg-wrapper{
	width: 100%;
	float: none;
	margin: 0 auto;
	overflow: hidden;
	background: #fff;
	max-width: 1290px;
	-webkit-box-shadow: 0 0 15px 3px rgba(0,0,0,0.20);
	box-shadow: 0 0 15px 3px rgba(0,0,0,0.20);
}
.tg-homebannertwo{
	border: 0;
	padding: 0;
}
.tg-homebannertwo .tg-tickerbox{padding: 20px 0 15px;}
.tg-homebannertwo > ul > li,
.tg-homebannertwo > ul > li:first-child{width: 33.33%;}
.tg-postleftimg .tg-postimg,
.tg-postleftimg .tg-postcontent{
	margin: 0 -2px;
	width: auto;
	float: none;
	display: inline-block;
	vertical-align: middle;
}
.tg-postleftimg .tg-postimg{width: 30%;}
.tg-postleftimg .tg-postcontent{
	width: 70%;
	padding: 0 0 0 30px;
}
body.tg-boxed.tg-homethree .tg-footer .tg-instagramgallery ul li{width:25%;}
/*=============================================
		Home Version Four
=============================================*/
body.tg-boxed.tg-homefour {background: url(../images/bgbody2.png);}
body.tg-boxed.tg-homefour .tg-instagramgallery ul li{width:25%;}
.tg-navigationareamiddle{text-align: center;}
.tg-navigationareamiddle .tg-nav,
.tg-navigationareamiddle .tg-btnsearchtoggle{
	float: none;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}
.tg-bannerfullslider{
	z-index: 1;
	width: 100%;
	float: left;
	margin: 20px 0;
	position: relative;
}
.tg-bannerfullslider .item{
	width: 100%;
	float: left;
}
.tg-bannerfullslider .item figcaption{
	width: 100%;
	height: 100%;
	display: flex;
	padding: 30px 24%;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.tg-bannerfullslider .tg-posttags{
	text-align: center;
	font-size: 18px;
	line-height: 21px;
}
.tg-bannerfullslider .tg-posttags li{
	float: none;
	display: inline-block;
	vertical-align: middle;
}
.tg-bannerfullslider .tg-posttitlelarge h3{
	font-size: 40px;
	line-height: 43px;
}
.tg-bannerfullslider .tg-postbtnbox .tg-btn{
	float: none;
	display: inline-block;
	vertical-align: top;
}
.tg-btnslider .owl-controls .owl-buttons div{
	top: 50%;
	z-index: 2;
	width: 46px;
	height: 40px;
	margin: -25px 0 0;
	line-height: 40px;
	position: absolute;
}
.tg-btnslider .owl-controls .owl-buttons div:before{
	top: 0;
	width: 60%;
	content: '';
	height: inherit;
	background: #fff;
	position: absolute;
}
.tg-btnslider .owl-controls .owl-buttons .owl-prev:before{left: 0;}
.tg-btnslider .owl-controls .owl-buttons .owl-next:before{right: 0;}
.tg-btnslider .owl-controls .owl-buttons .owl-prev{left: 25px;}
.tg-btnslider .owl-controls .owl-buttons .owl-next{right: 25px;}
.tg-btnslider .owl-controls .owl-buttons div span,
.tg-btnslider .owl-controls .owl-buttons div span i,
.tg-btnslider .owl-controls .owl-buttons div span i:before{
	margin: 0;
	z-index: 2;
	display: block;
	height: inherit;
	font-size: 30px;
	position: relative;
	line-height: inherit;
}
.tg-bannerslidecount{
	left: 0;
	z-index: 2;
	color: #fff;
	bottom: 40px;
	width: 100%;
	text-align: center;
	position: absolute;
}
.tg-bannerslidecount span{color: #fff;}
/*=============================================
		Home Version Five
=============================================*/
body.tg-homefive .tg-homebanner{
	border: 0;
	overflow: hidden;
}
.tg-bannerfullwidthslider .slick-list{overflow: visible;}
.tg-bannerfullwidthslider .item figcaption{
	width: 100%;
	height: 100%;
	display: flex;
	padding: 30px 24%;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.tg-bannerfullwidthslider .tg-posttags{
	text-align: center;
	font-size: 18px;
	line-height: 21px;
}
.tg-bannerfullwidthslider .tg-posttags li{
	float: none;
	display: inline-block;
	vertical-align: middle;
}
.tg-bannerfullwidthslider .tg-posttitlelarge h3{
	font-size: 40px;
	line-height: 43px;
}
.tg-bannerfullwidthslider .tg-postbtnbox .tg-btn{
	float: none;
	display: inline-block;
	vertical-align: top;
}
.tg-bannerfullwidthslider .tg-post{
	outline: 0;
	padding: 0 15px;
}
.tg-bannerfullwidthslider .tg-post figcaption{
	width: 100%;
	height: 100%;
	display: flex;
	padding: 30px 24%;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.tg-slicknavigation{
	width: 100%;
	float: left;
}
.tg-btnslicksquareprev,
.tg-btnslicksquarenext{
	top: 50%;
	z-index: 2;
	color: #333;
	width: 46px;
	height: 40px;
	display: block;
	cursor: pointer;
	margin: -25px 0 0;
	line-height: 40px;
	position: absolute;
	text-align: center;
}
.tg-btnslicksquareprev:hover,
.tg-btnslicksquarenext:hover{
	color: #333;
	background: none;
}
.tg-slicknavigation span:before{
	top: 0;
	width: 60%;
	content: '';
	height: inherit;
	background: #fff;
	position: absolute;
}
.tg-btnslicksquareprev:before{left: 0;}
.tg-btnslicksquarenext:before{right: 0;}
.tg-btnslicksquareprev{left: 25px;}
.tg-btnslicksquarenext{right: 25px;}
.tg-slicknavigation span i{
	margin: 0;
	z-index: 2;
	display: block;
	height: inherit;
	font-size: 30px;
	position: relative;
	line-height: inherit;
}
.tg-bannerfullwidthslidecount{
	left: 0;
	z-index: 2;
	color: #fff;
	bottom: 40px;
	width: 100%;
	text-align: center;
	position: absolute;
}
.tg-bannerfullwidthslidecount span{color: #fff;}
.tg-content .tg-widgetcontent{padding: 0;}
.tg-overflowvisible .tg-post{overflow:hidden;}
.tg-overflowvisible .tg-post .tg-postimg{
	margin:0 0 15px;
	overflow:visible;
}
/*=============================================
		Post Detail Star Reviews
=============================================*/
.tg-postdetailpage:hover .tg-postimg img{opacity:0.80;}
.tg-socialblackwhite li:first-child{padding-left:0;}
.tg-socialblackwhite li a{
	width:40px;
	height:40px;
	background:none;
	border-radius:0;
	line-height:40px;
	border:2px solid #e6e6e6;
}
.tg-socialblackwhite .tg-facebook .tg-roundicontext:hover {width:165px;}
.tg-socialblackwhite .tg-linkedin .tg-roundicontext:hover,
.tg-socialblackwhite .tg-twitter .tg-roundicontext:hover{width: 150px;}
.tg-socialblackwhite .tg-googleplus .tg-roundicontext:hover {width: 145px;}
.tg-socialblackwhite li a i{
	width:36px;
	color:#a0a0a0;
	font-size:12px;
	line-height:36px;
}
.tg-socialblackwhite .tg-roundicontext span{line-height:36px;}
.tg-bannerinnerpage{
	width: 100%;
	float: left;
	background: #fcfcfc;
}
.tg-fullimg{
	width: 100%;
	float: left;
	margin: 0 0 20px;
}
.tg-fullimg a,
.tg-fullimg a img{display: block;}
.tg-fullimg a img{
	width: 100%;
	height: auto;
}
.tg-fullimg figcaption{
	width: 100%;
	float: left;
}
.tg-alignleft{
	float: left;
	margin: 0 20px 20px 0;
}
.tg-alignright{
	float: right;
	margin: 0 0 20px 20px;
}
.tg-alignleft img,
.tg-alignright img{display: block;}
.tg-alignright figcaption,
.tg-alignleft figcaption,
.tg-fullimg figcaption{
	overflow: hidden;
	text-align: center;
}
.tg-alignright figcaption p,
.tg-alignleft figcaption p,
.tg-fullimg figcaption p{margin: 0;}
.tg-postdetailpage .tg-posttags{padding: 0 0 8px;}
.tg-postdetailpage .tg-posttitle h1{
	margin: 0;
	font-size: 40px;
	font-weight: bold;
	line-height: 40px;
}
.tg-postdetailpage .tg-postmatadata{padding: 15px 0 20px;}
.tg-socialblackwhite{
	width: 100%;
	float: left;
	padding: 0 0 30px;
}
.tg-postdetailpage > .tg-postimg{margin: 0 0 30px;}
.tg-postdetailpage blockquote{
	margin:0;
	border: 0;
	width:100%;
	float:left;
	quotes: none;
	font-size:20px;
	line-height:30px;
	text-align:center;
	font-weight:bold;
	position:relative;
	padding: 30px 100px;
	font-family: 'Hind', Arial, Helvetica, sans-serif;
}
.tg-postdetailpage .tg-blockquotestyleone{text-align:left;}
.tg-postdetailpage .tg-blockquotestyleone:after{
	left:0;
	top:50%;
	color:#fff;
	width:70px;
	height:70px;
	content:'\e829';
	font-size:30px;
	line-height:70px;
	margin:-35px 0 0;
	position:absolute;
	text-align:center;
	font-weight:normal;
	font-family: 'Linearicons-Free';
}
.tg-postvideobox{
	width: 100%;
	float: left;
	margin: 0 0 20px;
}
.tg-postvideobox img{
	width: 100%;
	height: auto;
	display: block;
}
.tg-liststyle{
	overflow:hidden;
	list-style:none;
	margin:0 0 10px;
}
.tg-liststyle li{
	width:100%;
	float:left;
	position:relative;
	padding:0 0 0 10px;
	list-style-type:none;
}
.tg-liststyle li:before{
	left:0;
	top:50%;
	content:'';
	width:5px;
	height:5px;
	margin:-2px 0 0;
	background:#333;
	position:absolute;
	border-radius:50%;
}
.tg-postdetailpage .tg-blockquotestyletwo{padding-top:0;}
.tg-postgallerybox{
	width: 100%;
	float: left;
	margin:0 0 25px;
}
.tg-gallery{
	width:100%;
	float:left;
}
.tg-gallery .item{
	width:100%;
	float:left;
}
.tg-gallery .item figure{
	width:100%;
	float:left;
	margin:0 0 5px;
}
.tg-gallery .item figure img{
	width:100%;
	height:auto;
	display:block;
}
.tg-gallerysliderthumb{
	width:auto;
	float:none;
	clear:both;
	margin:-5px;
	overflow:hidden;
	padding: 0 100px;
}
.tg-gallerysliderthumb .item{
	width:100%;
	float:left;
	padding:5px;
	cursor:pointer;
}
.tg-gallerysliderthumb .item figure{
	margin:0;
	width:100%;
	float:left;
}
.tg-gallerysliderthumb .item figure img{
	width:100%;
	height:auto;
	display:block;
}
.tg-reviewoverview{
	width:100%;
	float:left;
	padding:15px 0 0;
}
.tg-reviewoverview > .tg-borderheading{margin:0;}
.tg-reviewsstars{
	width:100%;
	float:left;
	list-style:none;
	padding:0 0 30px;
}
.tg-reviewsstars li{
	width:100%;
	float:left;
	padding:16px 0;
	list-style-type:none;
	border-bottom:1px solid #e6e6e6;
}
.tg-reviewsstars li strong{
	float:left;
	line-height:normal;
}
.tg-reviewsstars li .tg-stars{float:right;}
.tg-reviewsummery{
	width:100%;
	float:left;
	margin:0 0 40px;
	position:relative;
	padding:0 180px 0 0;
}
.tg-overallrating{
	top:0;
	right:0;
	color:#fff;
	width:180px;
	height:100%;
	text-align:center;
	position:absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.tg-overallrating h4{
	color:#fff;
	font-size:40px;
	margin:0 0 10px;
	line-height:36px;
	font-weight:bold;
}
.tg-overallrating > span{
	margin:0 0 7px;
	font-size:13px;
	line-height:13px;
}
.tg-overallrating .tg-stars{width: 77px;}
.tg-overallrating .tg-stars span {width: 90%;}
.tg-overallrating .tg-stars span:after{color:#fff;}
.tg-overallrating .tg-stars:before{
	color:#fff;
	content: '\f006 \f006 \f006 \f006 \f006';
}
.tg-summerybox{
	width:100%;
	float:left;
	padding:25px 30px;
	border:1px solid #e6e6e6;
}
.tg-summerybox .tg-borderheading h3{
	font-size:16px;
	line-height:16px;
}
.tg-summerybox .tg-description p{margin:0;}
.tg-tagspostshare{
	width:100%;
	float:left;
	margin:0 0 40px;
	padding:20px 0;
	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
}
.tg-tags{
	width:45%;
	float:left;
}
.tg-tags span,
.tg-socialshare span{
	float:left;
	display:block;
	line-height:22px;
	margin:0 5px 0 0;
}
.tg-tagholder{
	margin:-5px 0;
	overflow:hidden;
}
.tg-tag{
	float:left;
	margin:5px;
	color:#a0a0a0;
	padding:0 8px;
	font-size:12px;
	line-height:22px;
	border:1px solid #e6e6e6;
}
.tg-socialshare{
	width:45%;
	float:right;
}
.tg-socialshare span{line-height:36px;}
.tg-socialshare .tg-socialblackwhite{
	padding:0;
	width:auto;
	float:none;
	margin:-5px 0;
}
.tg-socialshare .tg-socialblackwhite li{padding:5px;}
.tg-socialshare .tg-socialblackwhite .tg-usericonholder{width:auto;}
.tg-nextprevposts{
	width:100%;
	float:left;
	margin:0 0 40px;
}
.tg-btnprevpost,
.tg-btnnextpost{
	width:40%;
	float:left;
}
.tg-btnnextpost{
	float:right;
	text-align:right;
}
.tg-btnprevpost a,
.tg-btnnextpost a{
	float:left;
	display:block;
}
.tg-btnprevpost a figure,
.tg-btnnextpost a figure{
	width:27%;
	margin:0;
	float:left;
	position:relative;
}
.tg-btnprevpost a figure img,
.tg-btnnextpost a figure img{
	width:100%;
	height:auto;
	display:block;
}
.tg-btnprevpost a figure figcaption,
.tg-btnnextpost a figure figcaption{
	left:0;
	top:0;
	width:100%;
	height:100%;
	position:absolute;
	visibility:hidden;
	opacity:0;
	background:
		-moz-linear-gradient(top,
		rgba(72,72,72,0.8) 0%,
		rgba(72,72,72,0.8) 100%);
	background:
		-webkit-linear-gradient(top,
		rgba(72,72,72,0.8) 0%,
		rgba(72,72,72,0.8) 100%);
	background:
		linear-gradient(to bottom,
		rgba(72,72,72,0.8) 0%,
		rgba(72,72,72,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc484848', endColorstr='#cc484848',GradientType=0 );
}
.tg-btnprevpost a figure figcaption i,
.tg-btnnextpost a figure figcaption i{
	top:50%;
	left:50%;
	color:#fff;
	font-size:16px;
	line-height:16px;
	position:absolute;
	margin:-8px 0 0 -8px;
}
.tg-btnprevpost:hover a figure figcaption,
.tg-btnnextpost:hover a figure figcaption{
	visibility:visible;
	opacity:1;
}
.tg-posttname,
.tg-btnprevpost a figure,
.tg-btnnextpost a figure{
	float:none;
	display:inline-block;
	vertical-align:middle;
}
.tg-posttname{width:71%;}
.tg-btnprevpost .tg-posttname{padding:0 0 0 10px;}
.tg-btnnextpost .tg-posttname{padding:0 10px 0 0;}
.tg-posttname h3{
	margin:0 0 5px;
	font-size:16px;
	line-height:19px;
	font-weight:bold;
}
.tg-posttname span{
	color:#a0a0a0;
	display:block;
	line-height:15px;
}
.tg-author,
.tg-commenter{
	width:100%;
	float:left;
	padding:30px;
	margin:0 0 40px;
	background:#f7f7f7;
}
.tg-authorbox,
.tg-commenterbox{
	width:100%;
	float:left;
	position:relative;
	padding:0 0 0 100px;
}
.tg-authorimg,
.tg-avatar{
	top:0;
	left:0;
	margin:0;
	overflow:hidden;
	position:absolute;
	border-radius:50%;
}
.tg-authorimg:before,
.tg-avatar:before{
	top:0;
	left:0;
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	background:
		-moz-linear-gradient(top,
		rgba(0,0,0,0.2) 0%,
		rgba(0,0,0,0.2) 100%);
	background:
		-webkit-linear-gradient(top,
		rgba(0,0,0,0.2) 0%,
		rgba(0,0,0,0.2) 100%);
	background:
		linear-gradient(to bottom,
		rgba(0,0,0,0.2) 0%,
		rgba(0,0,0,0.2) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#33000000',GradientType=0 );
}
.tg-authorhead,
.tg-commenterhead{
	width:100%;
	float:left;
	padding:0 0 20px;
}
.tg-leftarea{float:left;}
.tg-leftarea h3{
	font-size:16px;
	margin:0 0 3px;
	line-height:16px;
	font-weight:bold;
}
.tg-leftarea span{
	display:block;
	font-size:13px;
	line-height:15px;
}
.tg-rightarea{float:right;}
.tg-socialiconsround li a{
	width:35px;
	height:35px;
	color:#a0a0a0;
	font-size:12px;
	background:none;
	border:2px solid #e6e6e6;
}
.tg-socialiconsround li a i{
	width:100%;
	color:#a0a0a0;
	font-size:12px;
	line-height:33px;
}
.tg-authorbox .tg-description p{margin:0;}
.tg-relatedposts{
	width:100%;
	float:left;
	position:relative;
}
.tg-relatedposts .tg-slidecount{right:25px;}
.tg-commenter{margin:10px 0;}
.tg-reviews{
	width:100%;
	float:left;
	margin:45px 0 0;
}
.tg-reviews ul{
	width:100%;
	float:left;
	margin:-10px 0 0;
	list-style:none;
}
.tg-reviews ul li{
	width:100%;
	float:left;
	list-style-type:none;
}
.tg-btnreply{
	width:34px;
	height:34px;
	display:block;
	color:#a0a0a0;
	font-size:12px;
	line-height:31px;
	text-align:center;
	border-radius:50%;
	border:2px solid #e6e6e6;
}
.tg-btnreply i{color:#a0a0a0;}
.tg-commenterbox .tg-description p{margin:0;}
.tg-childcomment{padding:0 0 0 70px;}
.tg-leavereview{
	width:100%;
	float:left;
	padding:30px 0 0;
}
.tg-formleavereview textarea{
	width:100%;
	float:left;
	height:180px;
	resize:none;
}
/*=============================================
		Post Detail Numbers Reviews
=============================================*/
.tg-reviewsnumbers,
.tg-numberreviewsbox{
	width:100%;
	float:left;
}
.tg-reviewholder{
	width:100%;
	float:left;
}
.tg-reviewsnumbers .tg-borderheading{margin:0 0 20px;}
.tg-reviewnumber{
	width:100%;
	float:left;
	height:15px;
	margin:15px 0 30px;
	box-shadow:none;
	border-radius:0;
	background:#f7f7f7;
}
/*=============================================
		Skill Bar Style
=============================================*/
.tg-skillgroup{
	float:left;
	width:100%;
}
.tg-skill{
	float:left;
	width:100%;
	margin:0 0 30px;
}
.tg-skill:hover{ cursor:pointer;}
.tg-skillname{
	display:block;
	font-size:14px;
	line-height:14px;
	font-weight:bold;
	padding:0 0 10px;
	text-transform:capitalize;
	font-family: 'Hind', Arial, Helvetica, sans-serif;
}
.tg-skillholder{
	float:left;
	width:100%;
	background:#f7f7f7;
}
.tg-skillbar{
	height:16px;
	float:left;
	position:relative;
	transition:none;
}
.tg-skillbar span{
	top:-30px;
	color:#fff;
	right:-18px;
	float:right;
	font-size:11px;
	position:absolute;
}
.tg-skillholder{}
.tg-skillholder .progress-bar{
	box-shadow:none;
	background-color:#e3e3e3;
	-webkit-background-size: 30px 30px;
	background-size: 30px 30px;
}
/*=============================================
		Post Detail Percentage Reviews
=============================================*/
.tg-blockquoteholder{
	width:100%;
	float:left;
	padding:0 215px;
}
.tg-postdetailpagev2 .tg-blockquoteholder .tg-blockquotestyleone{padding-right:0;}
.tg-postdetailpagev2 .tg-fullimg a img{
	width:auto;
	margin:0 auto;
}
.tg-postdetailpagev2 .tg-postgallerybox{padding:0 152px;}
.tg-postvideobox figure{
	margin:0;
	width:100%;
	float:left;
	position:relative;
}.tg-postvideobox img{
	opacity:0;
	width:auto;
	margin:0 auto;
	visibility:hidden;
}
.tg-postvideobox figure iframe{
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:absolute;
}
.tg-postdetailpagev2 .tg-postvideobox figure iframe{
	top: 0;
	left: 50%;
	width:100%;
	max-width: 760px;
	height: 100%;
	position: absolute;
	margin: 0 auto 0 -380px;
}
/*=============================================
		Author Detail Style
=============================================*/
.tg-authorsingledetail,
.tg-newsbyauthor{
	width:100%;
	float:left;
}
.tg-newsbyauthor{margin:-15px 0;}
.tg-newsbyauthor .tg-post{
	padding:15px 0;
}
.tg-newsbyauthor .tg-post .tg-postimg,
.tg-newsbyauthor .tg-post .tg-postcontent{
	width:auto;
	float:none;
	margin:0 -2px;
	display:inline-block;
	vertical-align:middle;
}
.tg-newsbyauthor .tg-post .tg-postimg{width:32%;}
.tg-newsbyauthor .tg-post .tg-postcontent{
	margin:0;
	width:68%;
	overflow:hidden;
	padding:0 0 0 30px;
}
/*=============================================
		Product Grid Style
=============================================*/
.tg-productgrid{
	width:100%;
	float:left;
}
.tg-newproducts{
	width:100%;
	float:left;
}
.tg-newproducts .item{
	width:100%;
	float:left;
	margin:0 0 10px;
}
.tg-newproductimg{
	margin:0;
	width:100%;
	float:left;
	position:relative;
}
.tg-newproductimg:before{
	top:0;
	left:0;
	z-index:1;
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	background:
		-moz-linear-gradient(-45deg,
		rgba(0,0,0,0.2) 0%,
		rgba(0,0,0,0.2) 100%);
	background:
		-webkit-linear-gradient(-45deg,
		rgba(0,0,0,0.2) 0%,
		rgba(0,0,0,0.2) 100%);
	background:
		linear-gradient(135deg,
		rgba(0,0,0,0.2) 0%,
		rgba(0,0,0,0.2) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#33000000',GradientType=1 );

}
.tg-newproductimg img{
	width:100%;
	height:auto;
	display:block;
}
.tg-newproductimg figcaption{
	top:0;
	left:30px;
	z-index:2;
	padding:69px 0;
	position:absolute;
}
.tg-newproductimg figcaption .tg-posttags{
	font-size:18px;
	margin:0 0 8px;
	line-height:16px;
	font-family: 'Hind', Arial, Helvetica, sans-serif;
}
.tg-newproductimg figcaption .tg-posttags li a{color:#fff;}
.tg-newproductimg figcaption h2{
	clear:both;
	color:#fff;
	font-size:40px;
	margin:0 0 20px;
	line-height:40px;
	font-weight:bold;
}
.tg-newproductimg figcaption h2 a{
	color:#fff;
	display:block;
}
.tg-newproductimg figcaption h2 span{display:block;}
.tg-sortitems{
	width:100%;
	float:left;
	padding:40px 0 30px 0;
}
.tg-itemsshow{
	float:left;
	font-size:13px;
	line-height:40px;
}
.tg-sortitems .form-group{
	margin:0;
	width:200px;
	float:right;
	padding:0 0 0 20px;
	border:1px solid #ddd;
}
.tg-sortitems .form-group label{
	float:left;
	color:#a0a0a0;
	font-size:14px;
	line-height:38px;
	margin:0 5px 0 0;
}
.tg-sortitems .form-group .tg-select{
	border: 0;
	width: auto;
	height: 38px;
	padding: 0 80px 0 0;
}
.tg-sortitems .form-group .tg-select:after{
	right:20px;
	color:#a0a0a0;
	font-size:14px;
}
.tg-sortitems .form-group .tg-select select{
	border:0;
	padding:0;
	height:38px;
	text-transform:capitalize;
}
.tg-featuredproducts .tg-formtheme fieldset{margin:-13px 0;}
.tg-product{
	float:left;
	width:100%;
	padding:10px;
	margin:15px 0;
	background:#fff;
}
.tg-product:hover{
	-webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.10);
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.10);
}
.tg-productholder{
	width:100%;
	float:left;
}
.tg-productimg{
	width:100%;
	float:left;
	margin:0 0 20px;
}
.tg-productimg img{
	width:100%;
	height:auto;
	display:block;
}
.tg-productcontent{
	width:100%;
	float:left;
	padding:0 10px;
}
.tg-productname{
	width:100%;
	float:left;
	margin:0 0 10px;
}
.tg-productname h3{
	margin:0;
	font-size:16px;
	line-height:14px;
	font-weight:bold;
}
.tg-productname h3 a{display:block;}
.tg-productcontent .tg-stars{margin:0 0 10px;}
.tg-price{
	width:100%;
	float:left;
	margin:0 0 20px;
}
.tg-price del,
.tg-price span{
	font-size:13px;
	line-height:13px;
	display:inline-block;
	vertical-align:middle;
}
.tg-btnaddtocart{
	float:left;
	color:#a0a0a0;
	display:block;
	font-size:13px;
	line-height:15px;
}
.tg-salestag{
	top:10px;
	margin:0;
	border:0;
	left:10px;
	z-index:2;
	padding:0 4px;
	background:#fff;
	line-height:16px;
	border-radius:4px;
	position:absolute;
	text-transform:capitalize;
}
.tg-productgrid .tg-formtheme{padding:0 0 40px;}
/*=============================================
		Product Single Style
=============================================*/
.tg-productsingle{
	width:100%;
	float:left;
}
.tg-productsingle .tg-nextprevposts{margin:0 0 30px;}
.tg-productsingle .tg-nextprevposts .tg-btnnextpost a{float:right;}
.tg-productdetailbox{
	width:100%;
	float:left;
	padding:20px;
	background:#f7f7f7;
}
.tg-productdetailslider,
.tg-productdetailthumbs .item,
.tg-productdetailslider .item{
	width:100%;
	float:left;
}
.tg-productdetailthumbs{
	width:auto;
	float:none;
	clear:both;
	margin:0 -5px;
	overflow:hidden;
}
.tg-productdetailthumbs .owl-item{padding:5px;}
.tg-productdetailthumbs .item{
	cursor:pointer;
	background:#fff;
	border:1px solid transparent;
}
.tg-productdetailthumbs .item:hover,
.tg-productdetailthumbs .owl-item.tg-active .item{
	padding:3px;
	border-color:#ddd;
}
.tg-productdetailthumbs .item figure,
.tg-productdetailslider .item figure{
	margin:0;
	width:100%;
	float:left;
}
.tg-productdetailthumbs .item figure:before{
	top:0;
	left:0;
	opacity:0;
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	padding:3px;
	visibility:hidden;
	background:
		-moz-linear-gradient(-45deg,
		rgba(0,0,0,0.6) 0%,
		rgba(0,0,0,0.6) 100%);
	background:
		-webkit-linear-gradient(-45deg,
		rgba(0,0,0,0.6) 0%,
		rgba(0,0,0,0.6) 100%);
	background:
		linear-gradient(135deg,
		rgba(0,0,0,0.6) 0%,
		rgba(0,0,0,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#99000000',GradientType=1 );
}
.tg-productdetailthumbs .item:hover figure:before,
.tg-productdetailthumbs .owl-item.tg-active .item figure:before{
	opacity:1;
	visibility:visible;
}
.tg-productdetailthumbs .item figure img,
.tg-productdetailslider .item figure img{
	width:100%;
	height:auto;
	display:block;
}
.tg-salestag + .tg-salestag{left:70px;}
.tg-producthead{
	width:100%;
	float:left;
	margin:0 0 20px;
	padding:0 0 20px;
	border-bottom:1px solid #e6e6e6;
}
.tg-productinfo{float:left;}
.tg-productinfo .tg-posttags{width:auto;}
.tg-productinfo .tg-productname {
	width:auto;
	clear:both;
	margin:0 0 4px;
}
.tg-productinfo .tg-productname h3{
	font-size:24px;
	line-height:25px;
}
.tg-productinfo .tg-postmatadata{
	width:auto;
	clear:both;
}
.tg-productinfo .tg-postmatadata li{
	padding:0 13px;
	position:relative;
}
.tg-productinfo .tg-postmatadata li:first-child{padding-left:0;}
.tg-productinfo .tg-postmatadata li:after{
	top:0;
	left:-5px;
	content:'|';
	position:absolute;
}
.tg-productinfo .tg-postmatadata li:first-child:after{display:none;}
.tg-productinfo .tg-postmatadata li .tg-stars span,
.tg-productinfo .tg-postmatadata li .tg-stars{
	width:90px;
	height:13px;
	line-height:13px;
}
.tg-productinfo .tg-postmatadata li .tg-stars span:after,
.tg-productinfo .tg-postmatadata li .tg-stars:before{
	font-size:13px;
	line-height:13px;
}
.tg-productinfo .tg-postmatadata li .tg-stars span{width:67%;}
.tg-priceavailability{
	float:right;
	padding:10px 0;
	text-align:right;
}
.tg-priceavailability .tg-price{
	margin:0;
	font-family: 'Hind', Arial, Helvetica, sans-serif;
}
.tg-priceavailability .tg-price sub del{
	font-size:16px;
	line-height:18px;
	font-weight:bold;
}
.tg-priceavailability .tg-price span{
	font-size:24px;
	line-height:26px;
	font-weight:bold;
}
.tg-priceavailability em{
	float:right;
	font-size:14px;
	line-height:14px;
	font-style:normal;
}
.tg-productquentity{
	width:100%;
	float:left;
	margin:0 0 20px;
}
.tg-productquentity h4{
	float:left;
	font-size:16px;
	line-height:40px;
	font-weight:bold;
	margin:0 10px 0 0;
}
.tg-quantityholder{
	width:170px;
	float:left;
	height:40px;
	line-height:40px;
	position:relative;
	border:1px solid #ddd;
}
.tg-productquentity .minus,
.tg-productquentity input,
.tg-productquentity .plus{
	width:auto;
	float:left;
	padding:0;
	border:0;
	height:38px;
	text-align:center;
	font-style:normal;
	line-height:38px;
}
.tg-productquentity .minus,
.tg-productquentity .plus{
	top:50%;
	z-index:2;
	width:30px;
	height:30px;
	font-size:20px;
	line-height:30px;
	cursor:pointer;
	margin:-15px 0 0;
	background:#f7f7f7;
	position:absolute;
	font-family: 'Hind', Arial, Helvetica, sans-serif;
}
.tg-productquentity .minus{left:4px;}
.tg-productquentity .plus{right:4px;}
.tg-productquentity input{
	width:100%;
	z-index:1;
	padding:0 70px;
	position:relative;
	font-size:14px;
	line-height:38px;
}
.tg-productquentity .minus:hover,
.tg-productquentity .plus:hover{color:#fff;}
.tg-catagorytags{
	width:100%;
	float:left;
	margin:0 0 20px;
}
.tg-catagorytags h4,
.tg-catagorytags a{
	display:inline-block;
	vertical-align:middle;
}
.tg-catagorytags h4{
	font-size:16px;
	line-height:16px;
	font-weight:bold;
	margin:0 8px 0 0;
}
.tg-catagorytags a{
	color:#a0a0a0;
	font-size:13px;
	line-height:13px;
}
.tg-producttabs{
	width:100%;
	float:left;
	padding:40px 0;
}
.tg-navtabs{
	width:100%;
	float:left;
	color:#a0a0a0;
	list-style:none;
	text-align:left;
	font-size:13px;
	line-height:13px;
	border-bottom:2px solid;
	text-transform:capitalize;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
}
.tg-navtabs li{
	display:inline-block;
	vertical-align:top;
	line-height:inherit;
	list-style-type:none;
}
.tg-navtabs li:first-child{margin-left:0;}
.tg-navtabs li a{
	color:#a0a0a0;
	display:block;
	margin-bottom:6px;
	padding:10px 20px;
	line-height:inherit;
	border:1px solid #ddd;
}
.tg-navtabs li.active a,
.tg-navtabs li:hover a{
	margin-bottom:0;
	padding:13px 20px;
}
.tg-navtabs li.active a,
.tg-navtabs li:hover a{color:#fff;}
.tg-producttabcontent{
	width:100%;
	float:left;
	padding:30px;
	background:#fff;
	border:1px solid #ddd;
}
.tg-tabpan{
	width:100%;
	float:left;
}
.tg-tabpan .tg-description p{margin:0;}
.tg-information{
	width:100%;
	float:left;
	margin:30px 0;
	list-style:none;
}
.tg-information li{
	width:100%;
	float:left;
	padding:8px 0 8px 12px;
	line-height:normal;
	list-style-type:none;
	position:relative;
}
.tg-information li:after{
	left:0;
	top:50%;
	content:'';
	width:5px;
	height:5px;
	margin:-3px 0 0;
	position:absolute;
	border-radius:50%;
}
.tg-relatedproducts{
	width:100%;
	float:left;
}
.tg-relatedproduct{
	width:auto;
	clear:both;
	margin:0 -15px;
	padding:0 0 35px;
	border-bottom:1px solid #ddd;
}
.tg-relatedproduct .item{
	width:100%;
	float:left;
	padding:0 15px;
}
.tg-relatedproduct .item .tg-product{margin:5px 0;}










/*=============================================
		Contact Us Style
=============================================*/
.tg-contactus{
	width:100%;
	float:left;
}
.tg-contactus .tg-description{margin:0 0 40px;}
.tg-contactus .tg-description p{margin:0;}
.tg-map{margin:0 0 40px;}
.tg-formcontactus fieldset .form-group textarea{
	width:100%;
	float:left;
	resize:none;
	height:180px;
}
.tg-formcontactus fieldset .tg-btn{padding:0 70px;}
/*=============================================
		404 Error Style
=============================================*/
.tg-404error{
	width:100%;
	float:left;
	text-align:center;
}
.tg-404text{
	margin:0 0 40px;
	position:relative;
	display:inline-block;
	padding:0 70px 85px;
}
.tg-404text:before{
	left:50%;
	bottom:0;
	content:'';
	height:2px;
	width:300px;
	position:absolute;
	margin:0 0 0 -150px;
}
.tg-404text h1{
	z-index:-1;
	color:#f7f7f7;
	font-size:300px;
	font-weight:bold;
	margin:0 0 -50px;
	line-height:250px;
	position:relative;
}
.tg-404text h2{
	top:50%;
	left:50%;
	font-size:80px;
	line-height:70px;
	font-weight:bold;
	position:absolute;
	margin:-90px 0 0 -177px;
}
.tg-404text h2 span{
	display:block;
	font-size:30px;
	line-height:40px;
}
.tg-form404search{margin:0 0 40px;}
.tg-form404search fieldset .form-group{
	margin:0;
	position:relative;
	padding:0 190px 0 0;
}
.tg-form404search fieldset .form-group .tg-btn{
	top:0;
	right:0;
	position:absolute;
}
.tg-btngohome{
	width:100%;
	float:left;
}
.tg-btngohome a{text-decoration:underline;}
/*=============================================
		Comming Soon Style
=============================================*/
body.tg-commingsoonpage{
	height:100%;
	background:url(../images/comming-soon-bg.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
.tg-commingsoonholder{
	width:100%;
	float:left;
	position:relative;
}
.tg-staytuned{
	left:50%;
	bottom:-20px;
	font-size:250px;
	font-weight:bold;
	line-height:230px;
	margin:0 0 0 -666.87px;
	position:absolute;
	color:rgba(255, 255, 255, 0.20);
}
.tg-commingsooncontent{
	width:100%;
	float:left;
	height:100%;
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.tg-commingsoonlogo{
	margin:0;
	left:100px;
	position:absolute;
}
.tg-commingsoonlogo img{
	width:100%;
	height:auto;
	display:block;
}
.tg-coutdownholder{
	width:100%;
	float:left;
	padding:100px 0 0;
	position:relative;
}
.flip-clock-wrapper{
	margin:0;
	width:100%;
	float:left;
}
.flip-clock-dot{display:none;}
.flip-clock-wrapper ul.flip{
	margin:0;
	width:135px;
	height:270px;
	box-shadow:none;
	border-radius:0;
}
.flip-clock-wrapper ul:nth-child(2) li .inn,
.flip-clock-wrapper ul:nth-child(5) li .inn,
.flip-clock-wrapper ul:nth-child(8) li .inn,
.flip-clock-wrapper ul:nth-child(11) li .inn{text-align:right;}
.flip-clock-wrapper ul:nth-child(3) li .inn,
.flip-clock-wrapper ul:nth-child(6) li .inn,
.flip-clock-wrapper ul:nth-child(9) li .inn,
.flip-clock-wrapper ul:nth-child(12) li .inn{text-align:left;}
.flip-clock-wrapper ul li{display:inline-block;}
.flip-clock-wrapper ul li a div{line-height:125px;}
.flip-clock-wrapper ul li a div div.inn,
.flip-clock-wrapper ul li a div.down{border-radius:0;}
.flip-clock-wrapper ul li a div .shadow,
.flip-clock-wrapper ul li a div.up:after{display:none;}
.flip-clock-wrapper ul li a div div.inn{
	background:#fff;
	text-shadow:none;
	line-height:240px;
	font-family: 'Hind', Arial, Helvetica, sans-serif;
}
.flip-clock-wrapper ul li a {
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	perspective: 500px;
}
.flip-clock-divider .flip-clock-label{
	top:150px;
	z-index:99;
	right:-155px;
	font-size:20px;
}
.flip-clock-divider.hours .flip-clock-label{right:-168px;}
.flip-clock-divider.minutes .flip-clock-label,
.flip-clock-divider.seconds .flip-clock-label{right:-175px;}
.tg-copyrightssingup{
	width:100%;
	float:left;
}
.tg-copyrightssingup .tg-newsletter{
	padding:40px 0;
	background:#fff;
}
.tg-copyrightssingup .tg-copyrightbox{
	width:100%;
	padding:11px 0;
	text-align:center;
}
.tg-copyrightssingup .tg-copyrightbox span{padding:0;}
.tg-copyrightssingup .tg-copyrightbox span:before{display:none;}










.tg-widgetsearch .tg-widgetcontent{padding: 0;}
