/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-theme .owl-controls{
	width: 100%;
	float: left;
	text-align: center;
}
/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div{
	color: #333;
	font-size: 20px;
	line-height: 20px;
	vertical-align: top;
	display: inline-block;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{text-decoration: none;}
/* Styling Pagination*/
.owl-theme .owl-controls .owl-page{
	vertical-align: top;
	display: inline-block;
}
.owl-theme .owl-controls .owl-pagination{
	width: 100%;
	float: left;
	line-height: 8px;
}
.owl-theme .owl-controls .owl-page span{
	width: 8px;
	height: 8px;
	margin: 0 3px;
	display: block;
	border-radius: 50%;
	border: 1px solid #a0a0a0;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{background: #a0a0a0;}
/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #333;
	padding: 2px 10px;
	font-size: 12px;
}
/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(../images/AjaxLoader.gif) no-repeat center center
}