<main id="tg-main" class="tg-main tg-haslayout">
  <div class="container">
    <div class="row">
      <section class="tg-main-section tg-haslayout">
        <div id="tg-twocolumns" class="tg-twocolumns">
          <div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
            <div id="tg-content" class="tg-content">
              <div class="tg-addbox tg-margintopzero">
                <a href="javascript:void(0);"><img src="images/placeholder/add-01-770x90.jpg" alt="image description"></a>
              </div>
              <div class="clearfix"></div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="tg-borderheading">
                    <h3>What’s Popular</h3>
                  </div>
                  <div class="tg-postmargin">
                    <%@category.blogs.each do |blog|%>
                      <article class="tg-post tg-postleftimg">
                      <figure class="tg-postimg">
                        <span class="tg-postfeatured">
                          <i class="fa fa-bolt"></i>
                        </span>
                        <%=link_to blog_path(blog) do%>
                          <%=image_tag blog.image.url(:trending)%>
                        <%end%>
                        <%=link_to "view post",blog_path(blog), class: "tg-btnview"%>
                      </figure>
                      <div class="tg-postcontent">
                        <div class="tg-borderleft">
                          <ul class="tg-posttags">
                            <%blog.tags.select(:slug, :name).distinct.each do |tag|%>
                              <li>
                                <%=link_to tag.name.capitalize, tag_path(tag)%>
                              </li>
                            <%end%>
                          </ul>
                          <div class="tg-posttitle tg-posttitlelarge">
                            <h3>
                              <%=link_to blog_path(blog) do%>
                                <%=blog.title.capitalize%>
                              <%end%>
                            </h3>
                          </div>
                        </div>
                        <div class="tg-description">
                          <p>
                            <%=blog.description%>
                          </p>
                        </div>
                        <ul class="tg-postmatadata">
                          <li>
                            <a href="javascript:void(0);">
                              <span class="lnr lnr-eye"></span>
                              <span>2.4K</span>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">
                              <span class="lnr lnr-bubble"></span>
                              <span>17.9K</span>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">
                              <span class="lnr lnr-calendar-full"></span>
                              <span><%=blog.post_date%></span>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">
                              <span class="lnr lnr-user"></span>
                              <span>By: Josefine Shockley</span>
                            </a>
                          </li>
                        </ul>
                        <div class="tg-postbtnbox">
                          <%=link_to "view post", blog_path(blog), class: "tg-btn"%>
                        </div>
                      </div>
                    </article>
                    <%end%>
                    <div class="clearfix"></div>
                    <div class="tg-addbox">
                      <a href="javascript:void(0);"><img src="images/placeholder/add-01-770x90.jpg" alt="image description"></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%=render "shared/aside"%>
        </div>
      </section>
      <nav class="tg-pagination">
        <ul>
          <li class="tg-prevpage">
            <a href="#">
              <i class="fa fa-angle-left"></i>
            </a>
          </li>
          <li>
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#">4</a>
          </li>
          <li class="tg-active">
            <a href="#">5</a>
          </li>
          <li>...</li>
          <li>
            <a href="#">10</a>
          </li>
          <li class="tg-nextpage">
            <a href="#">
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</main>
