$('body').append('<%= j render partial: "admin/users/edit"%>');
$('#<%= dom_id @user, :modal%>').modal('toggle');

$('tr').find('td:nth-child(2)').each(function(){
  if ($(this).text().trim() == "<%=@user.email%>") {
    $(this).parent().addClass("edit_row_<%=@user.id%>")
  }
});
