<%=simple_form_for([:admin, @blog], remote: true) do |f|%>
<div class="form-row">
   <div class="form-group col-md-6">
      <label>Category</label>
      <%=f.collection_select :category_id, Category.all, :id, :category_name, {}, class: "form-control"%>
   </div>
   <div class="form-group col-md-6">
      <label>Title</label>
      <%=f.text_field :title, class: "form-control"%>
   </div>
   <div class="form-group col-md-12">
      <label>Description</label>
      <%=f.text_area :description, class: "form-control", rows: "15", cols: "30"%>
   </div>
   <div class="col-md-12">
      <div class="form-group">
        <label class="cstm-switch">
          <%=f.check_box :is_slide, class: "cstm-switch-input"%>
          <span class="cstm-switch-indicator "></span>
          <span class="cstm-switch-description">
            Toggle if you want your blog as a slide</span>
        </label>
      </div>
    </div>
    <%= f.fields_for :tags do |tag| %>
      <%=render 'tag_fields', :f => tag%>
      <div class="form-group col-md-12">
        <%= link_to_add_association 'Add Tag', f, :tags, class: "btn btn-primary"%>
      </div>
   <% end %>
   <div class="form-group col-md-6">
      <label>Image</label>
      <%=f.file_field :image%>
   </div>

   <div class="form-group col-md-12">
      <%=f.submit "Save User", class: "btn btn-primary"%>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
   </div>
</div>
<%end%>
