<%=content_tag :div, class: "modal fade bd-example-modal-lg", id: "edit_#{dom_id(@blog, :modal)}" do%>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-12">
            <h5 class="m-b-0">Edit Blog</h5>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%=simple_form_for([:admin, @blog], remote: true) do |f|%>
        <div class="modal-body overflow-auto">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Category</label>
              <%=f.collection_select :category_id, Category.all, :id, :category_name, {}, class: "form-control"%>
            </div>
            <div class="form-group col-md-6">
              <label>Title</label>
              <%=f.text_field :title, class: "form-control"%>
            </div>
            <div class="form-group col-md-12">
              <label>Description</label>
              <%=f.text_area :description, class: "form-control", rows: "15", cols: "30"%>
            </div>
            <div class="col-md-12">
               <div class="form-group">
                 <label class="cstm-switch">
                   <%=f.check_box :is_slide, class: "cstm-switch-input"%>
                   <span class="cstm-switch-indicator "></span>
                   <span class="cstm-switch-description">
                     Toggle if you want your blog as a slide</span>
                 </label>
               </div>
             </div>
             <%= f.fields_for :tags do |tag| %>
               <%=render 'tag_fields', :f => tag%>
            <% end %>
            <div class="form-group col-md-12">
              <%= link_to_add_association 'Add Tag', f, :tags, class: "btn btn-primary", id: "btn-add"%>
            </div>
            <div class="form-group col-md-12">
              <label>Image</label><br>
              <%=f.file_field :image%>
            </div>
            <div class="form-group col-md-12">
              <%=f.submit "Update", class: "btn btn-primary"%>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
<%end%>
