<div id="tag" class="form-group col-md-12">
  <div class="nested-fields">
    <div class="input-group-btn">
      <%=link_to_remove_association 'Remove', f, class: 'btn btn-danger float-right', id: "test"%>
    </div>
    <br>
    <label>Tag</label>
    <%=f.text_field :name, class: "form-control"%>
  </div>
</div>
