$('body').append('<%= j render partial: "admin/blogs/edit"%>');
$('#edit_<%= dom_id @blog, :modal%>').modal('toggle');
$('tr').find('td:nth-child(2)').each(function(){
  if ($(this).text().trim() == "<%=@blog.title%>") {
    $(this).parent().addClass("edit_row_<%=@blog.id%>")
  }
});
