$("#blog-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
$(".edit_row_<%=@blog.id%>").find('td:nth-child(2)').text("<%=@blog.title%>").next().text("<%=time_ago(@blog.created_at)%>")
