<aside class="admin-sidebar">
  <div class="admin-sidebar-brand">
    <!-- begin sidebar branding-->
    <img class="admin-brand-logo" src="/images/logo.png" width="40" alt="atmos Logo">
    <!-- end sidebar branding-->
    <div class="ml-auto">
      <!-- sidebar pin-->
      <a href="#" class="admin-pin-sidebar btn-ghost btn btn-rounded-circle"></a>
      <!-- sidebar close for mobile device-->
      <a href="#" class="admin-close-sidebar"></a>
    </div>
  </div>
  <div class="admin-sidebar-wrapper js-scrollbar">
    <ul class="menu">
      <li class="menu-item active ">
        <a href="dashboard.html" class="menu-link">
          <span class="menu-label">
            <span class="menu-name">Dashboard</span>
          </span>
          <span class="menu-icon">
            <i data-feather="activity"></i>
          </span>
        </a>
      </li>
      <li class="menu-item">
        <%=link_to admin_admins_path, class: "menu-link" do%>
          <span class="menu-label">
            <span class="menu-name">Adminstrator</span>
          </span>
          <span class="menu-icon">
            <i data-feather="users"></i>
          </span>
        <%end%>
      </li>
      <li class="menu-item">
            <a href="#" class="open-dropdown menu-link">
            <span class="menu-label">
            <span class="menu-name">CMS
            <span class="fa fa-angle-down"></span>
            </span>
            </span>
            <span class="menu-icon">
            <i data-feather="folder"></i>
            </span>
            </a>
            <!--submenu-->
            <ul class="sub-menu">
               <li class="menu-item ">
                  <%=link_to admin_categories_path, class: "menu-link" do%>
                  <span class="menu-label">
                  <span class="menu-name">Category</span>
                  </span>
                  <span class="menu-icon">
                  <i data-feather="file"></i>
                  </span>
                  <%end%>
               </li>
               <li class="menu-item ">
                  <%=link_to admin_blogs_path, class: "menu-link" do%>
                  <span class="menu-label">
                  <span class="menu-name">Blogs</span>
                  </span>
                  <span class="menu-icon">
                  <i data-feather="message-circle"></i>
                  </span>
                  <%end%>
               </li>
            </ul>
         </li>
      <li class="menu-item">
        <%=link_to admin_settings_path, class: "menu-link" do%>
          <span class="menu-label">
            <span class="menu-name">Setting</span>
          </span>
          <span class="menu-icon">
            <i data-feather="settings"></i>
          </span>
        <%end%>
      </li>
    </ul>
  </div>

</aside>
