<!DOCTYPE html>
<html>
  <head>
    <title>Front End</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%= stylesheet_link_tag    'front_end_application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
  </head>

  <body  id="body" class="tg-home tg-homefive">
    <%=render "shared/search"%>
    <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
      <%=render "shared/nav"%>
      <%= yield %>
      <%=render "shared/footer"%>
    </div>
    <%= javascript_include_tag 'front_end_application', 'data-turbolinks-track': 'reload' %>
    
    <%=custom_flash_message%>
  </body>
</html>
