<nav class="tg-pagination">
  <ul>
    <li class="tg-prevpage">
      <a href="#">
        <i class="fa fa-angle-left"></i>
      </a>
    </li>
    <li>
      <a href="#">1</a>
    </li>
    <li>
      <a href="#">2</a>
    </li>
    <li>
      <a href="#">3</a>
    </li>
    <li>
      <a href="#">4</a>
    </li>
    <li class="tg-active">
      <a href="#">5</a>
    </li>
    <li>...</li>
    <li>
      <a href="#">10</a>
    </li>
    <li class="tg-nextpage">
      <a href="#">
        <i class="fa fa-angle-right"></i>
      </a>
    </li>
  </ul>
</nav>
