
<div class="wrapper  pa-0">
	<!-- Main Content -->
	<div class="page-wrapper pa-0 ma-0 auth-page">
		<div class="container">
			<!-- Form -->
			<div class="row" style="margin-top: 100px;">
				<div class="col-sm-12 col-xs-12">
					<div class="mb-30">
						<h3 class="text-center txt-dark mb-10">Verify Your Account</h3>
						<h6 class="text-center nonecase-font txt-grey">Enter your code below</h6>
					</div>
					<div class="form-wrap">
						<div class="row">
							<div class="col-lg-12" style="padding-left: 0px;">
								<div class="verify_container">
									<div class="form-group col-lg-12" style="padding-left: 240px; padding-right: 240px;">
										<%= form_tag users_resend_path do %>
											<button type="submit" class="btn" style="margin-bottom: 20px;">Resend code</button>
										<% end %>
										<%= form_tag users_verify_path do %>
											<%= label_tag :code, "Verification Code:" %>
											<%= text_field_tag :token, '', class: "form-control" %>
											<br>
											<button type="submit" class="btn btn-primary" style="width: 100%;">Verify Token</button>
										<% end %>

										<div style="margin-top: 30px;">
											<%=link_to "Home", root_path, class: "btn btn-default btn-block", style: "margin-top: 30px;"%>
										</div>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
				<!-- End Form -->
		</div>

	</div>

</div>
